form > .form-entry {
    font-size: 12pt;
    font-family: Arial, Helvetica;
}

form > .form-entry > label {
    font-weight: bold;
}

form > .form-entry > .input-container > input[type=text], form > .form-entry > .input-container > input[type=password], form > .form-entry > .input-container > select,
form > .form-entry > .inputs-container > input[type=text], form > .form-entry > .inputs-container > input[type=password], form > .form-entry > .inputs-container > select {
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    box-sizing : border-box;
}

form > .form-entry > .input-container > input[type=checkbox] {
}

form > .form-entry > .input-container > button{
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

form > .form-entry > .inputs-container > button{
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

form > .form-entry > .input-container > select {
    background-color: white;
}
/* end of common styles to default-form and inline form */


/* styles for default form (each label / field pair appears on a separate line) */
.default-form > .form-entry {
    width: 100%;
    padding: 8px;
    display: flex;
}

.default-form > .form-entry > label {
    padding-top: 7px;
    padding-right: 20px;
    text-align: right;

}

.default-form > .form-entry > .input-container {
    vertical-align:middle;
}

.default-form > .form-entry > .inputs-container {
    vertical-align:middle;
    display: inline-block;
}

.default-form > .form-entry > .input-container > input[type=text], .default-form > .form-entry > .input-container > input[type=password], .default-form > .form-entry > .input-container > select {
    display: block;
    width: 100%;
}

/* end of styles for default form  */


/* styles for inline form */

.inline-form > .form-entry {
    padding: 8px;
    display: inline;
}

.inline-form > .form-entry > label {
    padding-top: 7px;
    padding-right: 20px;
}

.inline-form > .form-entry > .input-container {
    display: inline;
}
/* end of styles for inline form */

@media(min-width:768px){
    .width-sm-10{width:10%}
    .width-sm-20{width:20%}
    .width-sm-30{width:30%}
    .width-sm-40{width:40%}
    .width-sm-50{width:50%}
    .width-sm-60{width:60%}
    .width-sm-70{width:70%}
    .width-sm-80{width:80%}
    .width-sm-90{width:90%}
    .width-sm-100{width:100%}
}


@media(min-width:960px){
    .width-md-10{width:10%}
    .width-md-20{width:20%}
    .width-md-30{width:30%}
    .width-md-40{width:40%}
    .width-md-50{width:50%}
    .width-md-60{width:60%}
    .width-md-70{width:70%}
    .width-md-80{width:80%}
    .width-md-90{width:90%}
    .width-md-100{width:100%}
}

@media(min-width:1024px){
    .width-lg-10{width:10%}
    .width-lg-20{width:20%}
    .width-lg-30{width:30%}
    .width-lg-40{width:40%}
    .width-lg-50{width:50%}
    .width-lg-60{width:60%}
    .width-lg-70{width:70%}
    .width-lg-80{width:80%}
    .width-lg-90{width:90%}
    .width-lg-100{width:100%}
}