@font-face{font-family: Abadi;src: url(/assets/fonts/ufonts.com_abadi-mt-condensed-light.ttf)}
@font-face{font-family: AbadiBold;src: url(/assets/fonts/abadi-mt-condensed-extra-bold.ttf)}
@font-face{font-family: AbadiBold;src: url(/assets/fonts/abadi-mt-condensed-extra-bold.ttf)}
@font-face{font-family: Cavorting;src: url(/assets/fonts/Cavorting.otf)}

.about-container {
    font-family: Abadi;
    font-size: 20pt;
}

.about-block{
    width: 100%;
    height: 600px;
    white-space: nowrap;
    display: flex
}
.image-block{
    overflow: hidden;
    height: inherit;
    vertical-align: top;
    width :45%;
}

.bg-yellow{
    background-color: #F4B821;
}
.bg-blue{
    background-color: #0FC6C6;
}
.bg-rose{
    background-color: #ED4C7B;
}

.text-block {
    padding: 20px 100px 0px 100px;
    height: inherit;
    box-sizing: border-box;
    white-space: initial;
    
    width :55%;
}
.text-block > b{
    font-family: AbadiBold;
}

.about-block  h1 {
    font-family: Cavorting ;
    font-size: 100pt;
    font-weight: normal;
    text-align: center;
    margin: 0px auto 30px auto;
}