.main-menu {
    background-color: #333333;
    margin: 0px;
    margin-bottom: 0px;
    font-family: SegoeUiBold;
    font-size: 20px;
    color: white;
    padding:0px 20px
}

.main-menu > div {
    width: 33%;
    display: inline-block;
}

.main-menu > .logo {
    text-align: center;
    vertical-align: middle;
}

.main-menu > .menu-items {
    text-align: right;
    vertical-align: middle;
    line-height: 35px;   
}

.main-menu > .menu-items > p{
    margin: 0px;
}

.main-menu .languages .circle {
    font-size: 19px;
    display: inline-block;
    width: 35px;
    height: 33px;
    border-radius: 20px;
    margin: 0px 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    background-color: #E6E6E6;
    vertical-align: middle; 
    transition: all 0.5s ;
}

.main-menu .languages .active {
    color: white;
    background-color: #ef6d3a ; 
}


.main-menu > div > button {
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    background-color: #ffffff;
    font-family: Archer;
    font-size: 23px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0px 10px;
    padding: 5px 10px;
}

.footer{
    position:fixed;
    height:50px;
    background-color: #333333;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    color:white;
}