.home-menu{
    width:30%;
    padding-top:50px;
    text-align:left;
    padding-left:40px;
    box-sizing:border-box;
    font-size:30px;
    color:white
}
.home-welcome-panel{
    background-color:#212121;
    font-family:SegoeUiBold ;
    color:white;
    font-size:20px;
    width:60%;
    margin-left:5%;
    margin-right:5%;
    margin-top:3%;
    margin-bottom:3%;
    border: white;
    padding:25px;
    box-sizing:border-box
}
.home-welcome-panel li {
    line-height: 40px
}
.home-welcome-volunteer-panel{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.home-welcome-organisation-panel{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav-container{
    position:relative;
    height:700px;
    overflow:hidden;
    margin-top:25px;
    margin-bottom:50px;
}

.nav-volunteer , .nav-refugee , .nav-organisation {
    position:absolute;
    width:33%;
    text-align: center
}
.nav-volunteer {
    left:0px;
    padding-right:25px;
}

.nav-refugee{
    left:33%;    
}

.nav-organisation{
    right:0px;
    padding-left:25px;
}

.nav-volunteer, .nav-organisation, .nav-refugee{
    margin:0px;
}
.nav-volunteer > figcaption, .nav-organisation > figcaption, .nav-refugee > figcaption{
    text-align: center;
    font-family: Cavorting;
    color: #4D4D4D;
    font-size: 35px;
    margin-top: 40px;
}

.nav-volunteer img, .nav-organisation img, .nav-refugee img{
    height: 250 px;
    width: 250px;
    border-radius: 100%;
    border-width: 20px;
    border-style: solid;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-volunteer img{
    border-color: #F4B821;    
}

.nav-organisation img{
    border-color: #F21C4F;    
}

.nav-refugee img{
    border-color: #0FC6C6;   
}

.nav-volunteer-active img, .nav-organisation-active img {
    border-width: 35px;
}

.nav-container figcaption  a {
    transition:all 0.3s linear
}

.nav-container figcaption  a:hover, .nav-volunteer-active a, .nav-organisation-active a {
    font-size: larger;
}

.nav-volunteer-text, .nav-organisation-text {
    position:absolute;
    width:67%;
    padding:20px;
    text-align: justify;
    box-sizing:border-box;
    border-width:1px;
}

.nav-volunteer-text {
    background-color: #F4B821;
}

.nav-organisation-text {
    background-color: #F21C4F;
}

.nav-volunteer-text-visible {
    left:33%;
}

.nav-volunteer-text-hidden {
    left:100%;
}

.nav-organisation-text-visible {
    left:0%;
}

.nav-organisation-text-hidden {
    left:-100%
}


.with-transition{
    transition:all 0.5s linear
}

.no-transition{
    transition:all 0s linear
}