.button-test :hover{
    font-size: 25px;
}


.menu{
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 30px 0px;
}
.menu > figure {
    vertical-align: top;
    display: inline-block;
    margin: 15px 20px;
    border-radius: 10px;
}

.menu > figure > a{
    display: inline-block;
    /*border-radius: 100%;*/
    border: 0px solid;
    margin: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


.menu > figure > a:hover, .menu > figure > a:focus, .menu > .active > a {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 4px 4px rgba(0,0,0,.075),0 0 32px black;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /*border-width: 10px;*/
}

.menu > figure#menu-item-teachings > a{
    background-color: #1B1464 ; 
    border-color: #1B1464 ;
}
.menu > figure#menu-item-language-programs > a{
    background-color: #F74D2B ; 
    border-color: #F74D2B;
}

.menu > figure#menu-item-professional-programs > a{
    background-color: #8CC63F ; 
    border-color: #8CC63F;
}

.menu > figure#menu-item-workshops > a{
    background-color: #9E005D ; 
    border-color: #9E005D;
}
.menu > figure#menu-item-events > a{
    background-color: #29ABE2 ; 
    border-color: #29ABE2;
}

.menu > figure#menu-item-libraries > a{
    background-color: #D4145A ; 
    border-color: #D4145A;
}

.menu > figure#menu-item-volunteers > a{
    background-color:#F4B821 ; 
    border-color: #F4B821;
}

.menu > figure#menu-item-availabilities > a{
    background-color:#F4B821 ; 
    border-color: #F4B821;
}

 .menu > figure > a > img{
        height: 50px;
        width: 50px;
    }
    .menu > figure > figcaption {
    text-align: center;
    margin: 0px auto;
    width: 50px;
    font-family: Cavorting;
    color: #4D4D4D;
    padding-top: 20px;
    font-size: 17px;
}

@media(min-width:1024px){
    .menu > figure > a > img{
        height: 100px;
        width: 100px;
    }
    .menu > figure > figcaption{
        width:100px;
        font-size: 20px;
    }
}

@media(min-width:1465px){
    .menu > figure > a > img{
        height: 150px;
        width: 150px;
    }
    .menu > figure > figcaption{
        width:150px;
        font-size: 20px;
    }
}