.button-test :hover{
    font-size: 25px;
}


.refugee-menu{
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 30px 0px;
}
.refugee-menu > figure {
    vertical-align: top;
    display: inline-block;
    margin: 15px 20px
}

.refugee-menu > figure > a{
    display: inline-block;
    border-radius: 100%;
    border: 0px solid;
    margin: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.refugee-menu > figure > a:hover, .refugee-menu > figure > a:focus{
    border-width: 10px;
}

.refugee-menu > figure#menu-item-teachings > a{
    background-color: #1B1464 ; 
    border-color: #1B1464 ;
}
.refugee-menu > figure#menu-item-language-programs > a{
    background-color: #F74D2B ; 
    border-color: #F74D2B;
}

.refugee-menu > figure#menu-item-professional-programs > a{
    background-color: #8CC63F ; 
    border-color: #8CC63F;
}

.refugee-menu > figure#menu-item-workshops > a{
    background-color: #9E005D ; 
    border-color: #9E005D;
}
.refugee-menu > figure#menu-item-events > a{
    background-color: #29ABE2 ; 
    border-color: #29ABE2;
}

.refugee-menu > figure#menu-item-libraries > a{
    background-color: #D4145A ; 
    border-color: #D4145A;
}

.refugee-menu > figure#menu-item-volunteers > a{
    background-color:#F4B821 ; 
    border-color: #F4B821;
}

 .refugee-menu > figure > a > img{
        height: 50px;
        width: 50px;
    }
    .refugee-menu > figure > figcaption {
    text-align: center;
    margin: 0px auto;
    width: 50px;
    font-family: Cavorting;
    color: #4D4D4D;
    padding-top: 20px;
    font-size: 17px;
}

@media(min-width:1024px){
    .refugee-menu > figure > a > img{
        height: 100px;
        width: 100px;
    }
    .refugee-menu > figure > figcaption{
        width:100px;
        font-size: 20px;
    }
}

@media(min-width:1465px){
    .refugee-menu > figure > a > img{
        height: 150px;
        width: 150px;
    }
    .refugee-menu > figure > figcaption{
        width:150px;
        font-size: 20px;
    }
}