<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>
  <require from="/assets/css/common/common-search-results.css"></require>



  <div class="results" if.bind="results.length>0">
    <div class="_result" repeat.for="r of results">

      <div class="_result-header">
        <a href="#"> <img style="width:40px; margin-bottom:-20px;" src="/assets/img/saif/Gotolink-icon.svg" /></a>
        <a href="#"> <img style="width:40px;" src="/assets/img/saif/Download-icon.svg" /></a>
      </div>
      <div class="_result-body horizontal">

        <div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">

          <div class="fit-to-content">${r.fieldOfStudy}</div>
          <br/>
          <div class="fit-to-content">
            Master : ${r.master ? "Oui" : "Non"}
          </div>
          <br/>
          <div class="fit-to-content">
            licence : ${r.licence ? "Oui" : "Non"}
          </div>
          <br/>
          <div class="fit-to-content" if.bind="r.languageLevelRequired">
            Niveau requis : ${r.languageLevelRequired || "Aucun"}
          </div>

        </div>

        <div class="vertical _infos-container">
          <div class="horizontal">
            <div class="width-lg-40 bold">
              <img src="/assets/img/saif/Contact.svg" /> Contact
            </div>
            <div class="width-lg-70 info">
              ${r.contact.name} <br/> ${r.contact.phoneNumber} <br/>
              <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
            </div>
          </div>
          <div class="horizontal">
            <div class="width-lg-40 bold">
              <a click.delegate="viewLocation(r.address)"> <img src="/assets/img/saif/Address.svg" /> Adresse </a>
            </div>
            <div class="width-lg-70 info">
              ${r.address.street1}<br/> ${r.address.street2}
              <br if.bind="r.address.street2 != null " /> ${r.address.postalCode} ${r.address.locality}
              <br/>
            </div>
          </div>

        </div>
      </div>



      <div class="_result-footer" style="text-align: right">
        <div if.bind="action==null">
          <button click.delegate="action='edit'">Modifier</button>
          <button click.delegate="action='delete'">Supprimer</button>
        </div>
        <div if.bind="action=='delete'">
          Etes vous sûr de vouloir supprimer cet élément ?
          <button click.delegate="action=null">Oui</button>
          <button click.delegate="action=null">Non</button>
        </div>

      </div>
      <div class="_edit-container  ${action=='edit' ? '_edit-container-visible' : '_edit-container-hidden' }">
        <div style="text-align:right;padding-right:10px;padding-top:10px">
          <a click.delegate="action=null" class="close"></a>
        </div>


        <form class=horizontal>
          <div>
            <fieldset>
              <legend>contact</legend>
              <input class="width-lg-100" type="text" name="firstname" id="name" />
              <select class="width-lg-100"></select>
              <input class="width-lg-100" type="text" name="firstname" id="name" />
            </fieldset>
            <fieldset>
              <legend>Enter Name</legend>
              <input class="full-width" type="text" name="firstname" id="name" />
              <input class="full-width" type="text" name="firstname" id="name" />
              <input class="full-width" type="text" name="firstname" id="name" />
            </fieldset>
          </div>
          <div>
            <fieldset>
              <legend>Enter Name</legend>
              <input class="full-width" type="text" name="firstname" id="name" />
              <input class="full-width" type="text" name="firstname" id="name" />
              <input class="full-width" type="text" name="firstname" id="name" />
            </fieldset>
          </div>
        </form>


        <div style="text-align:center;padding:20px 0px">
          <button click.delegate="action=null">Annuler</button>
          <button click.delegate="action=null">Enregistrer</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</template>