<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>
  <require from="/assets/css/common/common-search-results.css"></require>



  <div class="results" if.bind="results.length>0">
    <div class="_result" repeat.for="r of results">

      <div class="_result-header">
        
      </div>
      <div class="_result-body horizontal">

        <div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">

          <div class="fit-to-content" if.bind="r.languageLevelRequired">
            Niveau requis : ${r.languageLevelRequired || "Aucun"}
          </div>
          <br/>
          <div class="fit-to-content">${r.fieldOfStudy}</div>
          <br/>
          <div class="fit-to-content">
            Master : ${r.master ? "Oui" : "Non"}
          </div>
          <br/>
          <div class="fit-to-content">
            licence : ${r.licence ? "Oui" : "Non"}
          </div>

        </div>

        <div class="vertical _infos-container" >
          <a class="link link-top" style="right:5%" href="#"> <img src="/assets/img/saif/Download-icon.svg"/></a>
          <a class="link link-top" style="right:15%" href="#"> <img src="/assets/img/saif/Gotolink-icon.svg"/></a>
          <img src="/assets/img/common/arrow-right-saif.svg" style="position:absolute; width:30px;height:30px; right:100%; bottom:25%;">
          <div class="horizontal">
            <div class="width-lg-40 bold">
              <img src="/assets/img/saif/Contact.svg" /> Contact
            </div>
            <div class="width-lg-70 info">
              ${r.contact.name} <br/> ${r.contact.phoneNumber} <br/>
              <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
            </div>
          </div>
          <div class="horizontal">
            <div class="width-lg-40 bold">
              <a click.delegate="viewLocation(r.address)"> <img src="/assets/img/saif/Address.svg" /> Adresse </a>
            </div>
            <div class="width-lg-70 info">
              ${r.address.street1}<br/> ${r.address.street2}
              <br if.bind="r.address.street2 != null " /> ${r.address.postalCode} ${r.address.locality}
              <br/>
            </div>
          </div>

        </div>
      </div>



      <div class="_result-footer" style="text-align: right">
        <div if.bind="action==null">
          <button click.delegate="action='edit'">Modifier</button>
          <button click.delegate="action='delete'">Supprimer</button>
        </div>
        <div if.bind="action=='delete'">
          Etes vous sûr de vouloir supprimer cet élément ?
          <button click.delegate="action=null">Oui</button>
          <button click.delegate="action=null">Non</button>
        </div>

      </div>
      <div class="_edit-container  ${action=='edit' ? '_edit-container-visible' : '_edit-container-hidden' }">
        <div style="text-align:right;padding-right:10px;padding-top:10px">
          <a click.delegate="action=null" class="close"></a>
        </div>

        <form class="vertical">

          
          <div class="horizontal">
            <fieldset class="width-lg-50">
              <legend>Informations principales</legend>
              <div class="horizontal no-margin">
                <label class="width-lg-20"> Niveau </label> <select class="width-lg-80"></select>
              </div>
              <div class="horizontal no-margin">
                <label class="width-lg-20"> Métier </label> <select class="width-lg-80"></select>
              </div>
              

            </fieldset>
            <fieldset class="width-lg-50">
              <legend>Inscription</legend>
              <div class="horizontal" style="margin-bottom:8px;">
                <div class="horizontal no-margin width-lg-50" style="align-items: baseline;" >
                  <label class="width-lg-40"> Master :</label><input class=" no-margin" type="checkbox"/>
                </div>
                <div class="horizontal no-margin width-lg-50" style="align-items: baseline;">
                  <label class="width-lg-40"> licence :</label><input class="no-margin" type="checkbox"/>
                </div>
              </div>
            </fieldset>

          </div>
          <div class="horizontal">
            <fieldset class="width-lg-50">
              <legend>Adresse</legend>
              <input class="width-lg-100" type="text" placeholder="Adresse" />
              <input class="width-lg-100" type="text" placeholder="complement d'adresse" />
              <input class="width-lg-45" type="text" /><input class="width-lg-45 offset-lg-10" type="text" />
            </fieldset>

            <fieldset class="width-lg-50">
              <legend>Contact</legend>
              <input class="width-lg-45" type="text" placeholder="Nom" /><input class="width-lg-45 offset-lg-10" type="text"
                placeholder="Prenom" />
              <input class="width-lg-100" type="tel" name="telephone" id="telephone" placeholder="telephone" />
              <input class="width-lg-100" type="email" name="mailaddress" id="mailaddress" placeholder="Mail Adresse" />
            </fieldset>

          </div>

        </form>


        <div style="text-align:center;padding:20px 0px">
          <button click.delegate="action=null">Annuler</button>
          <button class="btn-orange" click.delegate="action=null">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</template>