<template>

  <div class="_results">
    <div style="font-family:SegoeUiSlim;text-align:right"  ltr-right rtl-left>
      <a style="font-weight:bold" click.delegate="new()">
        ${i18n("Create a new teaching") & signal : 'language-change'}
      </a>
    </div>

    <hr style="margin:30px 0px" />

    <div class="_result ${r.state=='saving' ? '_result-active' : ''}" repeat.for="r of results">

      <div class="_result-header" if.bind="r.action!='new'">
        ${r.item.fieldOfStudy}
      </div>
      <div class="_result-body horizontal" if.bind="r.action!='new'">

        <div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">
          <div class="fit-to-content" if.bind="moment(r.item.registrationOpeningDate).diff()>0">
            Ouverture des inscriptions le ${r.item.registrationOpeningDate | myDateFormat:'DD/MM'}
          </div>
          <div class="fit-to-content" if.bind="moment(r.item.registrationOpeningDate).diff()<0">
             ${i18n("Registration opening") & signal : 'language-change'} ${r.item.registrationClosingDate | myDateFormat:'DD/MM'}
          </div>
          <br/>
          <div class="fit-to-content" if.bind="r.item.languageLevelRequired">
            Niveau requis : ${r.item.languageLevelRequired || "Aucun"}
          </div>
          <br/>
          <div class="fit-to-content">
            Master : ${r.item.master ? "Oui" : "Non"}
          </div>
          <br/>
          <div class="fit-to-content">
            licence : ${r.item.licence ? "Oui" : "Non"}
          </div>
        </div>

        <div class="vertical _infos-container">
          <a class="link link-top" style="right:5%" href="${r.item.link}" target="_blank" if.bind="r.item.link">
            <img src="/assets/img/common/icon-external-link.svg" />
          </a>

          <img src="/assets/img/common/arrow-right-saif.svg" style="position:absolute; width:30px;height:30px; right:100%; bottom:25%;">

          <div class="horizontal">
            <div class="width-lg-40 info-title">
              <img src="/assets/img/common/icon-contact.svg" /> Contact
            </div>
            <div class="width-lg-60 info-text">
              ${r.item.contact.name} <br/> ${r.item.contact.phoneNumber} <br/>
              <a href="mailto:${r.item.contact.mailAddress}">${r.item.contact.mailAddress}</a>
            </div>
          </div>
          <div class="horizontal">
            <div class="width-lg-40 info-title">
              <a click.delegate="viewLocation(r.item.address)"> <img src="/assets/img/common/icon-address.svg" /> Adresse </a>
            </div>
            <div class="width-lg-60 info-text">
              ${r.item.address.street1}<br/> ${r.item.address.street2}
              <br if.bind="r.item.address.street2 != null " /> ${r.item.address.postalCode} ${r.item.address.locality}
              <br/>
            </div>
          </div>
        </div>
      </div>

      <div class="_result-footer" style="text-align: right" if.bind="r.action!='new'">
        <div if.bind="r.action==null">
          <button click.delegate="r.action='edit'" onclick="doScroll(this, '_result')">Modifier</button>
          <button click.delegate="r.action='delete'">Supprimer</button>
        </div>
        <div if.bind="r.action=='delete'">
          Etes vous sûr de vouloir supprimer cet enseignement ?
          <button click.delegate="delete(r)">Oui</button>
          <button click.delegate="cancelAction(r)">Non</button>
        </div>
      </div>

      <div class="_edit-container  ${r.action=='edit' || r.action=='new' ? '_edit-container-visible' : '_edit-container-hidden' }">
        <div style="text-align:right;padding-right:10px;padding-top:10px">
          <a click.delegate="cancelAction(r)" class="close"></a>
        </div>

        <form class="vertical">

          <div class="horizontal">
            <fieldset class="width-lg-50">
              <legend>Informations principales</legend>
              <div class="horizontal no-margin">
                <label class="width-lg-20 ${r.errors.languageLevelRequired ? 'error' : ''}"> Niveau </label>
                <select class="width-lg-80" value.bind="r.item.languageLevelRequired">
                  <option if.bind="r.action=='new'"></option>
                  <option repeat.for="l of referenceData.level.all">${l.name}</option>
                </select>
              </div>
              <div class="horizontal no-margin">
                <label class="width-lg-20 ${r.errors.fieldOfStudy ? 'error' : ''}"> Discipline </label>
                <select class="width-lg-80" value.bind="r.item.fieldOfStudy">
                  <option if.bind="r.action=='new'"></option>
                  <option repeat.for="l of referenceData.fieldOfStudy.all">${l.name}</option>
                </select>
              </div>
              <div class="horizontal">
                <label class="width-lg-20"> Cursus </label>
                <div class="horizontal no-margin width-lg-40" style="align-items: baseline;">
                  <input class=" no-margin" type="checkbox" checked.bind="r.item.master" />
                  <label class="width-lg-35 offset-lg-5">Master</label>
                </div>
                <div class="horizontal no-margin width-lg-40" style="align-items: baseline;">
                  <input class="no-margin" type="checkbox" checked.bind="r.item.licence" />
                  <label class="width-lg-35 offset-lg-5">Licence</label>
                </div>
              </div>
            </fieldset>
            <fieldset class="width-lg-50">
              <legend>Inscription</legend>
              <div class="horizontal no-margin">
                <label class="width-lg-20 ${r.errors.registrationOpeningDate ? 'error' : ''}"> Début </label>
                <input class="width-lg-80" type="date" value.bind="r.item.registrationOpeningDate" />
              </div>
              <div class="horizontal no-margin">
                <label class="width-lg-20 ${r.errors.registrationClosingDate ? 'error' : ''}"> Fin </label>
                <input class="width-lg-80" type="date" value.bind="r.item.registrationClosingDate" />
              </div>
              <div class="horizontal">
                <label class="width-lg-20">Lien </label>
                <input class="width-lg-80" type="url" value.bind="r.item.link" placeholder="http://" />
              </div>
            </fieldset>

          </div>
          <div class="horizontal">
            <fieldset class="width-lg-50 ${r.errors.contact ? 'error' : ''}">
              <legend class="${r.errors.contact ? 'error' : ''}">Contact</legend>
              <input class="width-lg-100" type="text" placeholder="Nom" value.bind="r.item.contact.name" />
              <input class="width-lg-100" type="tel" name="telephone" id="telephone" placeholder="telephone" value.bind="r.item.contact.phoneNumber"
              />
              <input class="width-lg-100" type="email" name="mailaddress" id="mailaddress" placeholder="Mail Adresse" value.bind="r.item.contact.mailAddress"
              />
            </fieldset>

          </div>

        </form>


        <div style="text-align:center;padding:20px 0px">
          <button click.delegate="cancelAction(r)">Annuler</button>
          <button class="btn-orange" click.delegate="save(r)">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</template>