<template>

    <div class="_results" if.bind="userDetails.account.profile!='R'" style="text-align:center">
        <p>${i18n("No access, please sign up or sign in")  & signal : 'language-change'}</p>
    </div>
    <div class="_results" if.bind="userDetails.account && userDetails.account.profile=='R'">


		<div class="horizontal " style="font-family:SegoeUiSlim;margin-bottom:15px" ltr-right rtl-left>
			<form class="width-lg-70" style="text-align:left">
				<input type="radio" name="accepted" checked.bind="filter.accepted" value="true" change.trigger="find()" /> Demandes acceptées
				<input type="radio" name="accepted" checked.bind="filter.accepted" value="false" change.trigger="find()" /> Demandes
				en attente
			</form>
            <div class="width-lg-30" style="font-family:SegoeUiSlim;text-align:right">
                <a style="font-weight:bold" click.delegate="new()"> ${i18n("New appointment request")  & signal : 'language-change'}</a>
            </div>            
		</div>

        <hr style="margin:30px 0px" />

        <!-- results block -->

        <div class="_result" repeat.for="r of results" style="margin-bottom:70px">

            <!-- new block -->

            <div class="_edit-container" if.bind="r.action=='new'">
                <div style="text-align:right;padding-right:10px;padding-top:10px">
                    <a click.delegate="cancelNew()" class="close"></a>
                </div>

                <form class="split-lg-30-70 label-right" submit.delegate="save(r)" if.bind="r.action=='new'">
                    <fieldset>
                        <legend>${i18n("My request")  & signal : 'language-change'}</legend>
                        <div class="horizontal">
                            <label class="${r.errors.reason ? 'error' : ''}">${i18n("Request type *")  & signal : 'language-change'}</label>
                            <div class="horizontal  width-lg-70">
                                <div style="flex:1;margin-top:7px">
                                    <input type="radio" name="reason" checked.bind="r.item.reason" value="INTERPRETING">${i18n("Interpreting")  & signal : 'language-change'}
                                    <br/> (${refugee.languages.join(', ')})
                                </div>
                                <div style="flex:1;margin-top:7px">
                                    <input type="radio" name="reason" checked.bind="r.item.reason" value="SUPPORT_IN_STUDIES">${i18n("Support in studies")  & signal : 'language-change'}
                                    <br/> (${refugee.fieldOfStudy})
                                </div>
                                <div style="flex:1;margin-top:7px">
                                    <input type="radio" name="reason" checked.bind="r.item.reason" value.bind="CONVERSATION">${i18n("French lessons")  & signal : 'language-change'}
                                </div>
                            </div>
                        </div>
                        <div class="horizontal">
                            <label>${i18n("Additional information")  & signal : 'language-change'}</label>
                            <input type="text" value.bind="r.item.additionalInformations" />
                        </div>
                        <div class="horizontal">
                            <label>${i18n("Date")  & signal : 'language-change'} </label>
                            <input type="text" value.bind="r.item.dateConstraint" />
                        </div>
                        <div class="horizontal">
                            <label class="${r.errors.refugeeLocation ? 'error' : ''}">${i18n("City or postal code")  & signal : 'language-change'}</label>
                            <input type="text" placeholder="" place-autocomplete="target.bind : r.item;target-property.bind:'refugeeLocation'" /><br/>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>${i18n("To contact you")  & signal : 'language-change'}</legend>
                        <div class="horizontal">
                            <label>${i18n("Telephone")  & signal : 'language-change'}</label>
                            <input type="tel" value.bind="r.item.refugee.phoneNumber" /><br/>
                        </div>
                        <div class="horizontal">
                            <label>${i18n("Mail address")  & signal : 'language-change'}</label>
                            <input type="tel" value.bind="r.item.refugee.mailAddress" /><br/>
                        </div>
                        <div class="horizontal">
                            <button class="offset-lg-30">${i18n("Send my request")  & signal : 'language-change'}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--new block -->



            <!-- result block -->
            <div class="width-lg-100 vertical" if.bind="r.action!='new'">
                 
                <div class="_result-header horizontal" if.bind="r.item.volunteer" rtl-right ltr-left> <!-- the meeting request has been accepted -->
                    <div class="width-lg-70" ltr-left rtl-right>
                        <img src="/assets/img/common/icon-checked.svg" style="width:30px;height:30px;vertical-align:middle;">
                        <span style="padding-left:15px;padding-right:15px">
                            ${i18n("Accepted by")  & signal : 'language-change'} : ${r.item.volunteer.name} le ${r.item.acceptationDate | myDateFormat:'DD MMMM'}
                        </span>
					</div>
					<div class="width-lg-30" ltr-right rtl-left if.bind="r.action==null && r.item.confirmationDate==null">
						<button click.delegate="r.action='confirm'">Confirmer</button>
						<button click.delegate="r.action='reSubmit'">Resoumettre</button>
					</div>
					<div class="width-lg-30" ltr-right rtl-left if.bind="r.action==null && r.item.confirmationDate!=null">
						<button click.delegate="r.action='report-problem'">Signaler un problème</button>
					</div>                    
                </div>

                <div class="_result-header horizontal" if.bind="!r.item.volunteer" rtl-right ltr-left> <!-- the meeting request has been not been accepted yet -->
                     ${i18n("Posted the")  & signal : 'language-change'} ${r.item.postDate | myDateFormat:'DD MMMM'}
                </div>     

                <!-- confirm or cancel -->
				<div class="_result-body" style="padding:5px" if.bind="r.action=='confirm' || r.action=='reSubmit'">
					 ${r.item.volunteer.name} a accepté votre demande de RDV. Vous pouvez : <br/>
					<p class="offset-lg-5" style="font-family:SegoeUI;line-height:35px">
						<input type="radio" name="action" checked.bind="r.action" value="confirm">
						Confirmer, après avoir été en contact avec le bénévole par mail ou par téléphone, que la rencontre va bien avoir lieu.
                        <br/>
						<input type="radio" name="action" checked.bind="r.action" value="reSubmit">
						Resoumettre la demande à d'autre bénévole, si vous n'avez pas été en contact avec le bénévole ou si celui-ci ne peut finalement pas accepter la demande
					</p>
					<p class="offset-lg-5">
                        <button if.bind="r.action=='confirm'" click.delegate="confirm(r)">Confirmer</button>
						<button if.bind="r.action=='reSubmit'" click.delegate="reSubmit(r)">Resoumettre</button>
                        <button click.delegate="r.action=null">Annuler</button>
					</p>
				</div>

                <!-- report problem -->
				<div class="_result-body" style="padding:5px" if.bind="r.action=='report-problem'">
					 <textarea class="width-lg-100" style="height:10em" autofocus></textarea><br/>
                     <button click.delegate="reportProblem(r)">Envoyer</button>
                     <button click.delegate="r.action=null">Annuler</button>

				</div>

                <div class="_result-body horizontal">

                    <div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">
                        <div if.bind="r.item.reason == 'INTERPRETING'">
                            <div class="fit-to-content">
                                 ${i18n("For")  & signal : 'language-change'} :  ${i18n("Interpreting")  & signal : 'language-change'} (${r.item.languages.join(' ou ')})
                            </div>
                        </div>
                        <div if.bind="r.item.reason == 'SUPPORT_IN_STUDIES'">
                            <div class="fit-to-content">
                                 ${i18n("For")  & signal : 'language-change'} :  ${i18n("Support in studies")  & signal : 'language-change'} (${r.item.fieldOfStudy})
                            </div>
                        </div>
                        <div if.bind="r.item.reason == 'CONVERSATION'">
                            <div class="fit-to-content">
                                 ${i18n("For")  & signal : 'language-change'} :  ${i18n("French lessons")  & signal : 'language-change'}
                            </div>                            
                        </div>
                    </div>

                    <div class="vertical _infos-container">

                        <img src="/assets/img/common/arrow-right-saif.svg" style="position:absolute; width:30px;height:30px; right:100%; bottom:25%;">
                        <div class="horizontal">
                            <div class="width-lg-40 info-title" left-or-right>
                                <img src="/assets/img/common/icon-date.svg" /> ${i18n("Date")  & signal : 'language-change'} :
                            </div>
                            <div class="width-lg-60 info-text">
                                ${r.item.dateConstraint}
                            </div>
                        </div>
                        <div class="horizontal">
                            <div class="width-lg-40 info-title" left-or-right>
                                <img src="/assets/img/common/icon-address.svg" /> ${i18n("Region")  & signal : 'language-change'} :
                            </div>
                            <div class="width-lg-60 info-text">
                                ${r.item.refugeeLocation.postalCode} ${r.item.refugeeLocation.locality}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_result-body">
                    <div style="background-color:#e7e9e8;padding:5px;box-sizing: border-box;" class="width-lg-100">
                        ${i18n("Additional information")  & signal : 'language-change'} : ${r.item.additionalInformations}
                    </div>
                </div>
            </div>

        </div>
    </div>
     <br/>
</template>