
<template>

  <require from="/assets/css/specific/refugee-index.css"></require>

  <div id="menu" class="refugee-menu" >

       <figure id="menu-item-teachings">
      <a route-href="route: organisations/teachings">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-teaching.svg"/>
      </a>
      <figcaption> &Eacute;tudes sup&eacute;rieurs </figcaption>
    </figure>
    
    <figure id="menu-item-language-programs">
      <a route-href="route: organisations/language-programs" onclick="scrollToElement('menu')">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-language-program.svg" />
      </a>
      <figcaption>Apprentissage du français</figcaption>
    </figure>
    <figure id="menu-item-professional-programs">
      <a route-href="route: organisations/professional-programs"> 
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-professional-program.svg" />
      </a>
      <figcaption> Formation professionelle </figcaption>
    </figure>
    <figure id="menu-item-workshops">
      <a route-href="route: organisations/workshops"> 
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-workshop.svg" />
      </a>
      <figcaption> Ateliers sociaux linguistiques </figcaption>
    </figure>
    <figure id="menu-item-events">
      <a route-href="route: organisations/events"> 
        <img class="size-150-lg size-100-md"  src="/assets/img/menu/icon-event.svg" />
      </a>
      <figcaption  > &Eacute;v&egrave;nements </figcaption>
    </figure>

  </div>

  <div class="separator"> </div>

  <router-view></router-view>

  
</template>
