<template>

    <require from="/assets/css/specific/home.css"></require>
    <require from="views/_components/place-autocomplete"></require>

    <div class="nav-container">
        <figure class="nav-volunteer ${userDetails.profile=='V' ? 'nav-volunteer-active' : ''}" if.bind="userDetails.profile==null || userDetails.profile=='V'">

            <img src="/assets/img/home/profile-volunteer.png" />

            <figcaption>
                <a click.delegate="setUserDetails('V')">je suis b&eacute;n&eacute;vole</a>
            </figcaption>
        </figure>
        <div style="min-height:406px" class="nav-volunteer-text ${userDetails.profile=='V' ? 'nav-volunteer-text-visible with-transition' : 'nav-volunteer-text-hidden no-transition'}">
            <div if.bind="authz.action == null">
                <div style="text-align:right">
                    <a click.delegate="setUserDetails(null)">Fermer</a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>

                <ul>
                    <li>Je regarde la vidéo de présentation</li>
                    <li><a click.delegate="startSignIn('volunteers/index')">Je me connecte</a></li>
                    <li><a click.delegate="startSignUp()">Je m'inscrit</a></li>
                </ul>
            </div>
            <div if.bind="authz.action=='sign-in' || authz.action=='recover-password'">
                <div>
                    <a click.delegate="authz.action=null">< Retour</a>
                </div>
                <div style="max-width:700px">
                    <compose view="./_components/sign-in.html"></compose>
                </div>
            </div>
            <div if.bind="authz.action=='sign-up'">
                <div>
                    <a click.delegate="authz.action=null">< Retour</a>
                </div>
                <div style="max-width:700px">
                    <compose view="./volunteers/sign-up.html"></compose>
                </div>
            </div>

        </div>
        <figure class="nav-refugee" if.bind="userDetails.profile==null || userDetails.profile=='R'">

            <img src="/assets/img/home/profile-refugee.png" />

            <figcaption>
                <p><a click.delegate="setUserDetails('R', 'fr')">je suis r&eacute;fugi&eacute</a> </p>
                <p><a click.delegate="setUserDetails('R', 'ar')"> أنـا لاجئ </p>
                <p><a click.delegate="setUserDetails('R', 'en')"> I'm Refugee </p>
                <p><a click.delegate="setUserDetails('R', 'da')">من یک پناهنده هستم </a></p>
            </figcaption>
        </figure>

        <div class="nav-organisation-text ${userDetails.profile=='O' ? 'nav-organisation-text-visible with-transition' : 'nav-organisation-text-hidden no-transition'}">
            <div if.bind="authz.action==null">
                <div style="text-align:right">
                    <a click.delegate="setUserDetails(null)">Fermer</a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>

                <ul>
                    <li>Je regarde la vidéo de présentation</li>
                    <li><a click.delegate="startSignIn('organisations/index')">Je me connecte</a></li>
                    <li>Je m'inscrit</li>
                </ul>
            </div>
            <div if.bind="authz.action=='sign-in' || authz.action=='recover-password'">
                <div style="text-align:left">
                    <a click.delegate="authz.action=null">
                        < Retour</a>
                </div>
                <compose view="./_components/sign-in.html"></compose>
            </div>
        </div>
        <figure class="nav-organisation ${userDetails.profile=='O' ? 'nav-organisation-active' : ''}" if.bind="userDetails.profile==null || userDetails.profile=='O'">

            <img src="/assets/img/home/profile-organisation.png" />

            <figcaption>
                <a click.delegate="setUserDetails('O')">je repr&eacute;sente une institution</a>
            </figcaption>
        </figure>
    </div>

    <div if.bind="userDetails.language!=null">
        <compose view="./about.html"></compose>
    </div>
</template>