<template>
    <form class="split-lg-30-70 label-right" submit.delegate="processSignUp()" if.bind="authz.outcome==null" style="font-family:Arial, Helvetica">
        <div class="horizontal">
            <label>Prénom</label>
            <input type="text" value.bind="authz.input.firstnname" autofocus />
        </div>
        <div class="horizontal">
            <label>Nom</label>
            <input type="text" value.bind="authz.input.lastname" />
        </div>
        <div class="horizontal">
            <label>Adresse mail</label>
            <input type="email" value.bind="authz.input.mailAddress" />
        </div>
        <div class="horizontal">
            <label>Mot de passe</label>
            <input type="password" value.bind="authz.input.password" style="width:35%" />
            <input type="password" value.bind="authz.input.password" style="width:35%" />
        </div>
        <div class="horizontal">
            <label>Ville ou code postal</label>
            <input type="text" place-autocomplete="target.bind : authz.input" />
        </div>

        <div class="horizontal">
            <label>${userDetails.profile=='R' ? 'Je suis intéressé par' : 'Je propose'}</label>
            <div style="width:35%;line-height:30px">
                <input type="checkbox" checked.bind="a" />Soutien <br/>
                <input type="checkbox" checked.bind="b" />Interprétariat
            </div>
            <div style="width:35%;line-height:30px">
                <input type="checkbox" checked.bind="c" />Répétition <br/>
                <input type="checkbox" checked.bind="d" />Activités culturelles
            </div>
        </div>
        <div class="horizontal" if.bind="a">
            <label>Soutien</label>
            <input type="text" placeholder="Domaines maitrisés" />
        </div>
        <div class="horizontal" if.bind="b">
            <label>Interprétariat</label>
            <input type="text" placeholder="Langues maitrisées en plus de français" />
        </div>
        <div class="horizontal" if.bind="d">
            <label>Activités culturelles ou sportives</label>
            <input type="text" placeholder="Théatre, visites, sports, randonnées..." />
        </div>
        <div class="horizontal">
            <button class="offset-lg-30">Inscription</button>
        </div>
    </form>
    <div if.bind="authz.outcome=='ok'" style="text-align:center">
        welcome !
    </div>
    <div if.bind="authz.outcome=='failure'" style="text-align:center">
        <div class="red-alert" style="margin-bottom:25px">L'inscription a échoué a échouée.</div>
        Voulez vous :
        <ul style="text-align:left">
            <li style="margin:20px auto"><a click.delegate="retrySignUp()">Réessayer avec une autre adresse mail</a></li>
        </ul>
    </div>
</template>