<template>
    <div if.bind="action=='sign-in'">
        <form class="split-lg-30-70 label-right" submit.delegate="processSignIn()" if.bind="outcome==null">
            <div class="horizontal">
                <label>${i18n("Mail address")  & signal : 'language-change'}</label>
                <input type="email" value.bind="input.mailAddress" autofocus />
            </div>
            <div class="horizontal">
                <label>${i18n("Password")  & signal : 'language-change'}</label>
                <input type="password" value.bind="input.password" />
            </div>
            <div class="horizontal" style="align-items:baseline">
                <input class="offset-lg-30" type="checkbox" checked.bind="rememberMe" /> ${i18n("Remember me")  & signal : 'language-change'}
            </div>
            <div class="horizontal">
                <button class="offset-lg-30">${i18n("Sign in")  & signal : 'language-change'}</button>
            </div>
        </form>

        <div if.bind="outcome=='failure'" style="text-align:center">
            <div class="red-alert" style="margin-bottom:25px">L'authentification a échouée.</div>
            Voulez vous :
            <ul style="text-align:left">
                <li style="margin:20px auto"><a click.delegate="retrySignIn()">Réessayer de vous authentifier</a></li>
                <li style="margin:20px auto"><a click.delegate="startPasswordRecoveryRequest()">Réinitialiser votre mot de passe</a></li>
            </ul>
        </div>

    </div>

    <div if.bind="action=='recover-password'">
        <div if.bind="outcome==null">
            <form class="split-lg-30-70 label-right" submit.delegate="processPasswordRecoveryRequest()" if.bind="outcome==null">
                <div class="horizontal">
                    <label>Adresse mail</label>
                    <input type="text" value.bind="input.mailAddress" />
                </div>
                <div class="horizontal  offset-lg-30">
                    <button>Réinitialiser mon mot de passe</button>
                </div>
            </form>
        </div>
        <div if.bind="outcome=='accepted'" style="text-align:center">
            <p>Un mail vous a été envoyé, il contient un lien permettant de réinitialiser votre mot de passe.</p>
            <button click.delegate="retrySignIn()">Réessayer de m'authentifier</button>
        </div>
    </div>
</template>