<template>
    <div if.bind="action=='sign-in'">
        <form class="split-lg-30-70 label-right" submit.delegate="processSignIn()" if.bind="outcome.status!='ok'">
            <div class="horizontal">
                <label class="${outcome.errors.mailAddress ? 'error':''}">${i18n("Mail address")  & signal : 'language-change'}</label>
                <input type="email" value.bind="input.mailAddress" autofocus  change.delegate="outcome=null" />
            </div>
            <div class="horizontal">
                <label class="${outcome.errors.password ? 'error':''}">${i18n("Password")  & signal : 'language-change'}</label>
                <input type="password" value.bind="input.password" change.delegate="outcome=null" />
            </div>
            <div class="horizontal" style="align-items:baseline">
                <input class="offset-lg-30" type="checkbox" checked.bind="userDetails.rememberMe" /> ${i18n("remember me")  & signal : 'language-change'}
            </div>
            <div class="horizontal">
                <button class="offset-lg-30">${i18n("Sign in")  & signal : 'language-change'}</button>
                <span if.bind="outcome.status=='unauthorized'" class="red-alert" style="font-size:smaller;margin:0px 10px">
                    ${i18n("Invalid mail address or password") & signal : 'language-change'} 
                </span>
                <span if.bind="outcome.status=='unauthorized'" style="font-size:smaller">
                    (<a click.delegate="startPasswordRecoveryRequest()">${i18n("Reset my password") & signal : 'language-change'}</a>)
                </span>
                
            </div>
        </form>
    </div>

    <div if.bind="action=='recover-password'">
        <div if.bind="outcome==null">
            <form class="split-lg-30-70 label-right" submit.delegate="processPasswordRecoveryRequest()" if.bind="outcome==null">
                <div class="horizontal">
                    <label>${i18n("Mail address")  & signal : 'language-change'}</label>
                    <input type="text" value.bind="input.mailAddress" />
                </div>
                <div class="horizontal  offset-lg-30">
                    <button>${i18n("Reset my password") & signal : 'language-change'}</button>
                </div>
            </form>
        </div>
        <div if.bind="outcome.status=='accepted'" style="text-align:center">
            <p>${i18n('Recover password confirmation') & signal : 'language-change'}</p>
        </div>
    </div>
</template>