<template>

    <require from="./place-autocomplete"></require>


    <form class="split-lg-30-70 label-right" submit.delegate="action=='sign-up' ? signUp() : updateProfile()" if.bind="outcome==null">
        <div if.bind="showCredentials">
            <div class="horizontal">
                <label>${i18n("Mail address")  & signal : 'language-change'}</label>
                <input type="email" value.bind="input.mailAddress" />
            </div>
            <div class="horizontal">
                <label>${i18n("Password")  & signal : 'language-change'}</label>
                <input type="password" value.bind="input.password" />
            </div>
        </div>
        <div if.bind="showIdentity">
            <div class="horizontal">
                <label>${i18n("First name")  & signal : 'language-change'}</label>
                <input type="text" value.bind="input.firstName" autofocus />
            </div>
            <div class="horizontal">
                <label>${i18n("Last name")  & signal : 'language-change'}</label>
                <input type="text" value.bind="input.lastName" />
            </div>
        </div>
        <div if.bind="showDetails">
            <div class="horizontal">
                <label>${i18n("City or postal code")  & signal : 'language-change'}</label>
                <input type="text" placeholder="" place-autocomplete="target.bind : input" /><br/>
            </div>
            <div class="horizontal">
                <label>${i18n("Phone")  & signal : 'language-change'}</label>
                <input type="tel" value.bind="input.phoneNumber" placeholder="" /><br/>
            </div>            
            <div class="horizontal">
                <label>${userDetails.profile=='R' ? i18n("I am interested in") : i18n("I can offer")  & signal : 'language-change'}</label>
                <div class="vertical  width-lg-70">
                    <div class="horizontal width-lg-100">
                        <div style="width:40%;line-height:35px">
                            <input type="checkbox" checked.bind="input.availableForConversation" />${i18n("French conversation")  & signal : 'language-change'}<br/>
                        </div>
                    </div>
                    <div class="horizontal width-lg-100">
                        <div style="width:40%;line-height:35px">
                            <input type="checkbox" checked.bind="input.availableForInterpreting" />${i18n("Interpreting")  & signal : 'language-change'}<br/>
                        </div>
                        <div style="width:60%;line-height:35px" if.bind="input.availableForInterpreting">
                            <multiple-select source.bind="referenceData.language.all" placeholder="les langues que vous maitrisez..." selection.bind="input.languages"></multiple-select>
                        </div>
                    </div>
                    <div class="horizontal width-lg-100">
                        <div style="width:40%;line-height:35px">
                            <input type="checkbox" checked.bind="input.availableForSupportInStudies" />${i18n("Support in studies")  & signal : 'language-change'}<br/>
                        </div>
                        <div style="width:60%;line-height:35px" if.bind="input.availableForSupportInStudies">
                            <multiple-select source.bind="referenceData.fieldOfStudy.all" selection.bind="input.fieldsOfStudy"></multiple-select>
                        </div>
                    </div>
                    <div class="horizontal width-lg-100">
                        <div style="width:40%;line-height:35px">
                            <input type="checkbox" checked.bind="input.availableForActivities" />${i18n("Cultural or sport activities")  & signal : 'language-change'}<br/>
                        </div>
                        <div style="width:60%;line-height:35px" if.bind="input.availableForActivities">                            
                            <input type="text" placeholder="Theater, sports..." value.bind="input.activities"/>
                        </div>
                    </div>                                   
                </div>
            </div>
        </div>
        <div class="horizontal">
            <button class="offset-lg-30">${action=="sign-up" ?  i18n("Sign up") : i18n("Update profile")  & signal : 'language-change'}</button>
        </div>
    </form>
    <div if.bind="outcome=='success'" style="text-align:center">
        Thank you, your profile has been successfully updated
    </div>
    <div if.bind="outcome=='failure'" style="text-align:center">
        <div if.bind="action='sign-up'">
            <div class="red-alert" style="margin-bottom:25px">
                L'inscription a échoué a échouée.
            </div>
            Voulez vous :
            <ul style="text-align:left">
                <li style="margin:20px auto"><a click.delegate="retry()">Réessayer avec une autre adresse mail</a></li>
            </ul>
        </div>
        <div if.bind="action='update-profile'">
            <div class="red-alert" style="margin-bottom:25px">
                La modification du profil a échoué
            </div>
            Voulez vous :
            <ul style="text-align:left">
                <li style="margin:20px auto"><a click.delegate="retry()">Réessayer avec une autre adresse mail</a></li>
            </ul>
        </div>
    </div>
</template>