<template>

  workshop search form + workshop list

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>
  

  <form class="inline-form" submit.delegate="find()" style="text-align:center">
    <div class="form-entry">
      <!--
          <img src="assets/img/refugee/localisation.svg" style=""/> -->
    </div>
    <div class="form-entry">
      <label>Ville</label>
      <div class="input-container">
        <select value.bind="filter.city">
            <option value=""></option>
            <option>Paris</option>
            <option>Lyon</option>
            <option>Marseille</option>
        </select>
      </div>
    </div>
 <!--   <div class="form-entry">
      <label>Organiser par</label>
      <div class="input-container">
        <select >     //les organisation et les benevols exists 
            <option value=""></option>
            <option>Science Po</option>
            <option>Francois</option>
            <option>BNF</option>
        </select>
      </div>
    </div>   -->
    <div class="form-entry">
      <label>Sujet</label>
      <div class="input-container">
        <select value.bind="filter.sujet">      <!-- les sujets exists -->
            <option value="">Tous</option>
            <option value="Politique"> Politique </option>
            <option value="Economique"> Économique </option>
        </select>
      </div>
    </div>
    <div class="form-entry" style="margin: 0px 25px;">
      <div class="input-container">
        <button>Rechercher</button>
      </div>
    </div>
    </div>
  </form>

  <div class="results" if.bind="results.length>0">
    <div style="text-align:right">
      <form class="inline-form" submit.delegate="sortByDistance()">
        <div class="form-entry">
          <div class="input-container">
            <input type="text" placeholder="Votre adresse" place-autocomplete="target.bind: userDetails" />
            <button>Classer par proximité</button>
          </div>
        </div>
      </form>
    </div>
    <div class="result" repeat.for="r of results">
      <div class="result-header">
        <div style="text-align:left;width:80%;display:inline-block;">
          ${r.organizedBy}
        </div>
        <div style="text-align:right;width:20%;display:inline-block;" if.bind="r.distance">
          ${r.distance} km
        </div>
      </div>

      <div class="result-infos-container">
        <div class="result-image-block inline-block-lg" style="background-image: url('/assets/img/unsorted/paris-sciences-po.jpg')">
          <div class="fit-to-content">
            ${r.subject}
          </div>
          <br/>
          <div class="fit-to-content" if.bind="moment(r.startDate).diff()>0">
            Ouverture des inscriptions le ${r.startDate | myDateFormat:'DD/MM'}
          </div>          <!--  les deux dates -->
          <div class="fit-to-content" if.bind="moment(r.startDate).diff()<0">
            Ouvert aux inscriptions
          </div>
        <div class="result-infos-block inline-block-lg" style="width:500px">
          <div>
            <label>Sujet: </label>
            <p>
               ${r.subject}
            </p>
          </div>
          <div>
            <label>Date </label>
            <p>
              du ${r.startDate | myDateFormat:'DD/MM/YYYY'} au ${r.endDate | myDateFormat:'DD/MM/YYYY'}
            </p>
          </div>
          <div>
            <label>Contact </label>
            <p>
              ${r.contact.name} <br/> ${r.contact.phoneNumber} <br/>
              <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
            </p>
          </div>
          <div>
            <label>
              Adresse 
            </label>
            <p>
              ${r.address.street1}<br/> 
              ${r.address.street2}<br if.bind="r.address.street2 != null " /> 
              ${r.address.postalCode} ${r.address.locality}<br/>

              <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.address)">Itineraire</a>
              <a if.bind="!userDetails.address" click.delegate="startingPoint={}">Itineraire</a> |
              <a click.delegate="viewLocation(r.address)">Carte</a>
            </p>
          </div>
          <div>
            <label>Description: </label>
            <p> <!-- overfelow:scroll; ? -->
               ${r.description}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>