<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>

  <div class="_results">

    <div class="horizontal " style="font-family:SegoeUiSlim">
      <form class="width-lg-70" style="text-align:left">
        <input type="checkbox" checked.bind="filter.includeFutureEvents" change.trigger="find()" /> Inclure les ${filter.stereotype=='WORKSHOP'
        ? 'ateliers' : 'évenements'} futurs
        <input type="checkbox" checked.bind="filter.includePastEvents" change.trigger="find()" /> Inclure les ${filter.stereotype=='WORKSHOP'
        ? 'ateliers' : 'évenements'} passés
      </form>

      <div class="width-lg-30" style="text-align:right">
        <a style="font-weight:bold" click.delegate="new()">Créer un nouvel ${filter.stereotype=='WORKSHOP' ? 'atelier' : 'évenement'}</a>
      </div>

    </div>

    <hr style="margin:30px 0px" />

    <div class="_result horizontal" repeat.for="r of results" style="margin-bottom:70px">

      <!--
      <div class="width-lg-15" style="font-size:25px;font-style:italic;text-align:center">
        <img src="/assets/img/common/icon-date.svg" style="width:40px"><br/> ${r.item.startDate | myDateFormat:'DD MMM'}
      </div>
      -->
      <div class="width-lg-100 vertical">
        <div class="_result-header horizontal" if.bind="r.action!='new'">
          <div class="width-lg-80" style="text-align:left">
              <img src="/assets/img/common/icon-date.svg" style="width:40px;margin-right:30px;vertical-align:middle">
              ${r.item.startDate | myDateFormat:'DD MMMM'} - ${r.item.subject}
               
          </div>
          <div class="width-lg-20" style="text-align:right" if.bind="r.distance">
            <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.item.address)">
            ${r.distance} km
          </a>
          </div>
        </div>

        <div class="_result-body horizontal" if.bind="r.action!='new'">

          <div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">

            <div class="fit-to-content" if.bind="moment(r.item.registrationOpeningDate).diff()>0">
              Ouverture des inscriptions le ${r.item.registrationOpeningDate | myDateFormat:'DD/MM'}
            </div>
            <div class="fit-to-content" if.bind="moment(r.item.registrationOpeningDate).diff()<0">
              Cloture des inscriptions le ${r.item.registrationClosingDate | myDateFormat:'DD/MM'}
            </div>

          </div>

          <div class="vertical _infos-container">

            <img src="/assets/img/common/arrow-right-saif.svg" style="position:absolute; width:30px;height:30px; right:100%; bottom:25%;">
            <div class="horizontal">
              <div class="width-lg-40 info-title">
                <img src="/assets/img/common/icon-date.svg" /> Heure
              </div>
              <div class="width-lg-60 info-text">
                De ${r.item.startDate | myDateFormat:'HH:mm'} à ${r.item.endDate | myDateFormat:'HH:mm'}
              </div>
            </div>
            <div class="horizontal">
              <div class="width-lg-40 info-title">
                <img src="/assets/img/common/icon-contact.svg" /> Contact
              </div>
              <div class="width-lg-60 info-text">
                ${r.item.contact.name} <br/> ${r.item.contact.phoneNumber} <br/>
                <a href="mailto:${r.contact.mailAddress}">${r.item.contact.mailAddress}</a>
              </div>
            </div>
            <div class="horizontal">
              <div class="width-lg-40 info-title">
                <a click.delegate="viewLocation(r.item.address)"> <img src="/assets/img/common/icon-address.svg" /> Adresse </a>
              </div>
              <div class="width-lg-60 info-text">
                ${r.item.address.street1}<br/> ${r.item.address.street2}
                <br if.bind="r.item.address.street2 != null " /> ${r.item.address.postalCode} ${r.item.address.locality}
              </div>
            </div>

          </div>
        </div>
        <div class="_result-body horizontal" if.bind="r.action!='new'">
          <div style="background-color:#e7e9e8;padding:5px" class="width-lg-100">
            <div style="font-family:SegoeUiSlim;text-align:justify;padding:10px">
              <p>${r.item.description}
              </p>
              <p style="text-align:right;font-weight:bold" if.bind="r.item.link">
                <a href="${r.item.link}" target="_blank">En savoir plus...</a>
              </p>
            </div>
          </div>
        </div>
        <div class="_result-footer" style="text-align: right" if.bind="r.item.id">
          <div if.bind="r.action==null">
            <button click.delegate="r.action='edit'" onclick="doScroll(this, '_result')">Modifier</button>
            <button click.delegate="r.action='delete'">Supprimer</button>
          </div>
          <div if.bind="r.action=='delete'">
            Etes vous sûr de vouloir supprimer cet ${filter.stereotype=='WORKSHOP' ? 'atelier' : 'évenement'} ?
            <button click.delegate="delete(r)">Oui</button>
            <button click.delegate="cancelAction(r)">Non</button>
          </div>
        </div>
        <div class="_edit-container  ${r.action=='edit' || r.action=='new' ? '_edit-container-visible' : '_edit-container-hidden' }">
          <div style="text-align:right;padding-right:10px;padding-top:10px">
            <a click.delegate="cancelAction(r)" class="close"></a>
          </div>

          <form class="vertical">
            <div class="horizontal">
              <fieldset class="width-lg-50">
                <legend>Informations principales</legend>

                <div class="horizontal no-margin">
                  <label class="width-lg-20"> Début </label>
                  <input class="width-lg-80" type="date" value.bind="r.item.startDate" />
                </div>
                <div class="horizontal no-margin">
                  <label class="width-lg-20"> Fin </label>
                  <input class="width-lg-80" type="date" value.bind="r.item.endDate" />
                </div>
                <div class="horizontal no-margin" if.bind="filter.stereotype!='WORKSHOP'">
                  <label class="width-lg-20">Public </label>
                  <select class="width-lg-80" type="text" value.bind="r.item.audience">
                    <option if.bind="r.action=='new'"></option>
                    <option value="REFUGEE">Réfugié</option>
                    <option value="VOLUNTEER">Bénévole</option>
                  </select>
                </div>
              </fieldset>
              <fieldset class="width-lg-50">
                <legend>Inscription</legend>
                <div class="horizontal no-margin">
                  <label class="width-lg-20">Début</label>
                  <input class="width-lg-80" type="date" value.bind="r.item.registrationOpeningDate" />
                </div>
                <div class="horizontal no-margin">
                  <label class="width-lg-20">Fin</label>
                  <input class="width-lg-80" type="date" value.bind="r.item.registrationClosingDate" />
                </div>
                <!--
                <button class="offset-lg-20" if.bind="r.action!='new'">Cloturer maintenant</button>
                -->
              </fieldset>

            </div>
            <div class="horizontal">
              <fieldset class="width-lg-50">
                <legend>Adresse</legend>
                <input class="width-lg-100" type="text" placeholder="Adresse" value.bind="r.item.address.street1" place-autocomplete="target.bind: r.item ; user-selection-binding.bind:'street1'"
                />
                <input class="width-lg-100" type="text" placeholder="complement d'adresse" value.bind="r.item.address.street2" />
                <input class="width-lg-45" type="text" value.bind="r.item.address.postalCode" /><input class="width-lg-45 offset-lg-10"
                  type="text" value.bind="r.item.address.locality" />
              </fieldset>

              <fieldset class="width-lg-50">
                <legend>Contact</legend>
                <input class="width-lg-100" type="text" placeholder="Nom" value.bind="r.item.contact.name" />
                <input class="width-lg-100" type="tel" name="telephone" id="telephone" placeholder="telephone" value.bind="r.item.contact.phoneNumber"/>
                <input class="width-lg-100" type="email" name="mailaddress" id="mailaddress" placeholder="Mail Adresse" value.bind="r.item.contact.mailAddress"/>
              </fieldset>
            </div>
            <div class="horizontal">
              <fieldset class="width-lg-100">
                <legend>Sujet et description</legend>
                <div class="horizontal">
                  <label class="width-lg-10">Sujet</label>
                  <input class="width-lg-90" type="text" value.bind="r.item.subject" />
                </div>
                <div class="horizontal">
                  <label class="width-lg-10">Description</label>
                  <textarea class="width-lg-90" value.bind="r.item.description"></textarea>
                </div>
                <div class="horizontal">
                  <label class="width-lg-10">Lien</label>
                  <input type="url" class="width-lg-90" value.bind="r.item.link"/>
                </div>
              </fieldset>
            </div>

          </form>


          <div style="text-align:center;padding:20px 0px">
            <button click.delegate="cancelAction(r)">Annuler</button>
            <button class="btn-orange" click.delegate="save(r)">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>