<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>


  <div style="1000px;margin:auto">
    <form class="inline-form" submit.delegate="find()" style="text-align:center">
      <div class="form-entry">
        <label>Voir les évenements passés</label>
        <div class="input-container">
          <input type="checkbox" checked.bind="filter.includePastEvents" change.trigger="find()" />
        </div>
      </div>
      <div class="form-entry">
        <label>Voir les évenements futurs</label>
        <div class="input-container">
          <input type="checkbox" checked.bind="filter.includeFutureEvents"  change.trigger="find()" />
        </div>
      </div>      
    </form>
  </div>


  <div class="results" if.bind="results.length>0">

    <div class="result" repeat.for="r of results">
      <div class="result-header">
        ${r.subject}
      </div>

      <div style="display:flex">
        <div class="width-lg-30">
          <img src="/assets/img/unsorted/paris-sciences-po.jpg" style="max-width:100%;max-height:100%;" />
          <p>
            Début : ${r.startDate | myDateFormat:'DD/MM/YYYY'}<br/> Fin : ${r.endDate | myDateFormat:'DD/MM/YYYY'}
          </p>
          <p>
            Ouverture des inscriptions : ${r.registrationStartDate | myDateFormat:'DD/MM/YYYY'}
          </p>
        </div>
        <div class="width-lg-70" style="padding:0px 0px 0px 15px">
          <p style="text-align:justify;margin-top:0px">
            ${r.description}
          </p>
          <p>
            Adresse : ${r.address.street1} ${r.address.street2} ${r.address.postalCode} ${r.address.locality}
          </p>
          <p>
            Contact : ${r.contact.name} (adresse mail : ${r.contact.name}, téléphone : ${r.contact.phoneNumber})
          </p>
        </div>
      </div>
      <div class="result-footer" style="text-align:right">
        <div  if.bind="action==null">
          <button click.delegate="action='edit'">Edit</button>
          <button click.delegate="action='delete'">Delete</button>
        </div>
        <div if.bind="action=='delete'">
          Etes vous sûr de vouloir supprimer cet élément ? 
          <button click.delegate="action=null">Oui</button>
          <button  click.delegate="action=null">Non</button>
        </div>
      </div>      
    </div>
  </div>
</template>