.choseLanguageBody{
    min-width: 500px;
    margin: 0px;
}
.mainHeader{
    background-color: #333333;
    height: 100px;
    text-align: center;
}

.logoCpa{
    margin-left: 150px;
    width: 150px;
    height: 100px;
}
.signInButton{
    text-align: center;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    background-color: #ffffff; 
    float: right;
    margin: 30px 40px 0px 0px;

}

.signInButton >  img{
    width: 30px;
    height: 30px;
}
.signInButton >  span{
    float:right;
    margin: 5px 20px 0px 0px ;
    font-size: 20px;
}

.bodyLanguage{
    background-image: url("motif2_choix_de_langue.svg");
    background-repeat: no-repeat; 
    background-size: 130%;
    background-position: -8% 55%;
}
.secoundBackground{
    padding: 150px 0px 150px 0px;
     background-image: url("motif_choix_de_langue.svg");
     background-repeat: no-repeat;
     background-size: 85%;
     background-position: -419px 62%;
}

.languageChoiceButton {
    display: block;
    border-width: 0px;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin: 55px auto 0px auto;
    cursor: pointer;
    background-color: #4d4d4d;
    color: #ffffff;
    font-size: 20px;
    -webkit-transition: all 0.5s  ;
    -moz-transition: all 0.5s  ;
    transition: all 0.5s  ;
}
.languageChoiceButton:focus {
    background-color: #cccccc;
}
.languageChoiceButton:hover {
    background-color: #cccccc;
}
#firstButton{
    margin-top: 0px;

}
.choseLanguageBody{
   
    min-width: 1330px;
}
.choosingStatus{
    text-align: center;
    height: 600px;
}
.choosingStatus>div {
    display: inline-block;
    margin: 150px 50px;
    
}
#first{
    margin-left:0px;
}
#last{
    margin-right: 0px;
}
.circleImage {
    height: 265px;
    width: 265px;
    background-size: 250px ;
    background-repeat: no-repeat;
    background-position: center center;
}
.choosingStatus figcaption {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

#I {
 background-image: url("je suis re_fugie_.svg");
}
#hiii {
background-image: url("je suis re_fugie_.svg");
}
#III {
background-image: url("je suis re_fugie_.svg");
}
