<template>
  <require from="/assets/css/refugee.css"></require>
  <require from="/assets/css/search-container.css"></require>
  

  <div class="searchingContainer">
    <p class="searchDomain">
      <img class="searchDomainIcon" id="cursus" src="assets/img/refugee/icon-cursus.svg" /> Cursus d'apprentissage
    </p>
    <div class="searchCriteria">

      <form class="searchCriteriaForm" submit.delegate="find()">
        
        <img id="location" src="assets/img/refugee/localisation.svg" />
        
        <input class="cityCriteria" type="text" placeholder="ex:Paris" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ex:Paris'"
          value.bind="filter.city" />
        <select class="selectMenu" value.bind="filter.levelId">
          <option value="">Choisissez votre niveau</option>
          <option repeat.for="x of global.referenceData.levels" value.bind="x.id">${x.name}</option>
        </select>
        <button class="searchBotton" >Rechercher</button>
      </form>

      <div class="resultContainer" repeat.for="r of results">
        <div class="halfResultContainer" id="leftContainer">

          <div class="informationContainer">
            <div class="information">
              Niveau de langue :
            </div>
            <div class="information">
              ${r.level}
            </div>
          </div>

          <div class="informationContainer">
            <div class="information">
              Date de d&eacute;but :<br/> Date de fin :
            </div>
            <div class="information">
              ${r.startDate}<br/> ${r.endDate}
            </div>
          </div>

          <div class="informationContainer">
            <div class="information">
              Adresse :
            </div>
            <div class="information">
              <!--
                    <span style="display:block" >${r.address}</span>}</span>
                     <span style="display:block" >${r.address.street2}</span>
                     <span style="display:block" >${r.address.zipcode}, ${r.address.city}</span>
                     <span style="display:block" >${r.address.country}</span> -->
              ${r.address.street1}<br/> ${r.address.street2}
              <br if.bind="r.address.street2 != null " /> ${r.address.zipcode}, ${r.address.city}<br/> ${r.address.country}
              <br/>
            </div>
          </div>

        </div>
        <div class="halfResultContainer">
          <div class="informationContainer">
            <div class="information">
              Organisation :
            </div>
            <div class="information">
              ${r.organisation}
            </div>
          </div>
          <div class="leftContainer">
            <div class="informationContainer">
              <div class="information">
                Contact :
              </div>
              <div class="information">
                Nom : ${r.contact.name}<br/> T&eacute;l&eacute;phone : ${r.contact.phoneNumber}<br/> Mail : <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
              </div>
            </div>
            <div class="leftContainer">
              <div class="informationContainer">
                <div class="information">

                </div>
                <div class="information">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- -----------------------test area---------------------------- !-->

<form class="default-form search-container">

  <div class="form-entry head-search-container ">
    <img id="cursus" src="assets/img/refugee/icon-cursus.svg" />
    <h1> Cursus d'apprentissage </h1>
  </div>

  <div class="form-entry criterions-search-container" submit.delegate="find()">
        <div class="input-container">
          <div class="width-controller " > <img src="assets/img/refugee/localisation.svg" /> </div>
          <div class="width-controller" > <input type="text" placeholder="ex:Paris" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ex:Paris'"
            value.bind="filter.city" /> </div>
          <div class="width-controller" style="margin: 0px 15px;" > <select class="selectMenu" value.bind="filter.levelId">
            <option value="">Choisissez votre niveau</option>
            <option repeat.for="x of global.referenceData.levels" value.bind="x.id">${x.name}</option>
          </select> </div>
          <div class="width-controller" style="margin: 0px 25px;" > <button>Rechercher</button> </div>
        </div>
  </div>

  <div class="form-entry result-search-container" >
    <div class="default-form">

    </div>
    <div class="default-form">

    </div>
  </div>
</form>


<!-- ----------------------- end of test area---------------------------- !-->
    
    
    
    <!--
    <form submit.delegate="find()">
    <input type="text" value.bind="filter.city" />
    <select value.bind="filter.levelId">
      <option/>
      <option repeat.for="x of global.referenceData.levels" value.bind="x.id">${x.name}</option>
    </select>
    <button>Rechercher</button>
  </form>
  <hr/>
  <table style="width:100%" if.bind="results.length>0">
    <thead>
      <tr>
        <td>Niveau requis</td>
        <td>Organisation</td>
        <td>Contact</td>
        <td>Ville</td>
        <td>Adresse</td>
        <td>Date début</td>
        <td>Date fin</td>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="r of results">
        <td>${r.level}</td>
        <td>${r.organisation}</td>
        <td>${r.contact.name} ${r.contact.phoneNumber} ${r.contact.mailAddress}</td>
        <td>${r.address.city}</td>
        <td>${r.address.street1} ${r.address.street2} ${r.address.zipcode} ${r.address.city} ${r.address.country}</td>
        <td>${r.startDate}</td>
        <td>${r.endDate}</td>
      </tr>
    </tbody>
  </table>
  
  !-->

</template>