<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_components/always-visible"></require>
  <require from="views/_formatters/date-format"></require>

  <require from="views/_components/gmap"></require>


  <form class="search-inline-form" always-visible>
    
    <select value.bind="filter.city">
      <option value="">Ville</option>
      <option>Paris</option>
      <option>Lyon</option>
      <option>Marseille</option>
    </select>

    
    <select value.bind="filter.fieldOfStudyId">
      <option value="">Domaine d'étude</option>
      <option repeat.for="x of referenceData.fieldsOfStudy" value.bind="x.id">${x.name}</option>
    </select>

    <button class="btn-orange" click.trigger="find('list')" class="${view=='list' ? 'button-active' : ''}">Voir liste</button>
    <button class="btn-orange" click.trigger="find('map')" class="${view=='map' ? 'button-active' : ''}">Voir carte</button>
  </form>

  <div class="results" if.bind="results.length>0 && view=='map'">
    <gmap center.bind="userDetails.address" places.bind="results"></gmap>
  </div>

  <div class="results" if.bind="results.length>0 && view=='list'">
    <div style="text-align:right">
      <form class="inline-form" submit.delegate="sortByDistance()">
        <input type="text" placeholder="Votre adresse" place-autocomplete="target.bind: userDetails" />
        <button>Classer par proximité</button>
      </form>
    </div>

    <!-----------------------------------test Saif style-------------------- -->

    <div class="results" if.bind="results.length>0">
      <div class="_result" repeat.for="r of results">
        <div class="_result-header">
          <div style="text-align:left;width:80%">
            ${r.item.organisation}
          </div>
          <div style="text-align:right;width:20%" if.bind="r.distance">
            <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.item.address)">
            ${r.distance} km
          </a>
          </div>
        </div>
        <div class="_result-body horizontal">

          <div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">
            <div class="fit-to-content" if.bind="r.item.languageLevelRequired"> Niveau requis : ${r.item.languageLevelRequired || "Aucun"}</div>
            <br/>
            <div class="fit-to-content"> ${r.item.fieldOfStudy}</div>
            <br/>
            <div class="fit-to-content"> Master : ${r.item.master ? "Oui" : "Non"}</div>
            <br/>
            <div class="fit-to-content">
              licence : ${r.item.licence ? "Oui" : "Non"}
            </div>
            <!-- if.bind -->
          </div>

          <div class="vertical _infos-container">
            <a class="link down" style="right:5%;" href="#"> <img src="/assets/img/saif/Download-icon.svg"/></a>
            <a class="link down" style="right:15%;" href="#"> <img src="/assets/img/saif/Gotolink-icon.svg"/></a>
          <img src="/assets/img/common/arrow-right-saif.svg" style="position:absolute; width:30px;height:30px; right:100%; bottom:25%;">
            <div class="horizontal">
              <div class="width-lg-40 bold">
                <img src="/assets/img/saif/Contact.svg" /> Contact
              </div>
              <div class="width-lg-70 info">
                ${r.item.contact.name} <br/> ${r.item.contact.phoneNumber} <br/>
                <a href="mailto:${r.contact.mailAddress}">${r.item.contact.mailAddress}</a>
              </div>
            </div>
            <div class="horizontal">
              <div class="width-lg-40 bold">
                <a click.delegate="viewLocation(r.item.address)"> <img src="/assets/img/saif/Address.svg" /> Adresse </a>
              </div>
              <div class="width-lg-70 info">
                ${r.item.address.street1}<br/> ${r.item.address.street2}
                <br if.bind="r.item.address.street2 != null " /> ${r.item.address.postalCode} ${r.item.address.locality}
                <br/>
              </div>
            </div>

          </div>
        </div>


        <div class="_result-footer" >
          
        </div>


      </div>
    </div>

</template>