<template>
  <form class="inline-form" submit.delegate="find()" style="text-align:center">
    <div class="form-entry">
      <!--
          <img src="assets/img/refugee/localisation.svg" style=""/> !-->
    </div>
    <div class="form-entry">
      <label>Ville</label>
      <div class="input-container">
        <input type="text" placeholder="Paris, Lyon, 69, 75001..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'ex:Paris'"
          value.bind="filter.city" />
      </div>
    </div>
    <div class="form-entry">
      <label>discipline </label>
      <div class="input-container">
        <select value.bind="filter.fieldOfStudyId">
            <option value=""></option>
            <option repeat.for="x of global.referenceData.fieldsOfStudy" value.bind="x.id">${x.name}</option>
          </select>
      </div>
    </div>
    <div class="form-entry" style="margin: 0px 25px;">
      <div class="input-container">
        <button>Rechercher</button>
      </div>
    </div>
    </div>
  </form>

  <div class="results">
    <div class="result" repeat.for="r of results">
      <h1 style="text-align:left"> ${r.item.organisation} </h1>
      <div class="result-infos-container">
        <div class="result-image-block inline-block-lg" style="background-image: url('/assets/img/unsorted/sorbonne.jpg')">
          <div> Niveau Requis : ${r.languageLevelRequired} </div><br/>
          <div> License : ${r.licence ? "Oui" : "Non"} </div><br/>
          <div> Master : ${r.master ? "Oui" : "Non"} </div><br/>
        </div>
        <div class="result-infos-block inline-block-lg" style="width:500px">

          <div>
            <label>
              Adresse 
            </label>
            <p>
              ${r.address.street1}<br/> ${r.address.street2}
              <br if.bind="r.item.address.street2 != null " /> ${r.address.zipcode}, ${r.address.city}<br/>
              <a href="#">Itineraire</a>
            </p>
          </div>
          <div>
            <label>Contact </label>
            <p>
              ${r.contact.name} <br/> ${r.contact.phoneNumber} <br/>
              <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
            </p>
          </div>
          <div>
            <label>lien de l'offre : </label>
            <p>
              <a href="${r.link}"> Ouvrir</a> | <a href="${r.link}"> Telecharger </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>