<template>

  <require from="views/_components/place-autocomplete"></require>

  <require from="views/_formatters/date-format"></require>

  <div class="results" if.bind="results.length>0">

    <div class="result" repeat.for="r of results">


      <div class="result-infos-container">
        <div>
          <div class="result-image-block inline-block-lg" style="background-image: url('/assets/img/unsorted/paris-sciences-po.jpg')">
            <div class="fit-to-content">
              Type : ${r.type}
            </div>
            <br/>
            <div class="fit-to-content" if.bind="moment(r.registrationStartDate).diff()>0">
              Ouverture des inscriptions le ${r.registrationStartDate | myDateFormat:'DD/MM'}
            </div>
            <div class="fit-to-content" if.bind="moment(r.registrationStartDate).diff()<0">
              Ouvert aux inscriptions
            </div>
            <br/>
            <div class="fit-to-content"> Niveau : ${r.level}</div>
          </div>
          <div class="result-infos-block inline-block-lg" style="width:500px">
            <div>
              <label>Date </label>
              <p>
                du ${r.startDate | myDateFormat:'DD/MM/YYYY'} au ${r.endDate | myDateFormat:'DD/MM/YYYY'}
              </p>
            </div>
            <div>
              <label>Contact </label>
              <p>
                ${r.contact.name} <br/> ${r.contact.phoneNumber} <br/>
                <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
              </p>
            </div>
            <div>
              <label>
              Adresse 
            </label>
              <p>
                ${r.address.street1}<br/> ${r.address.street2}
                <br if.bind="r.address.street2 != null " /> ${r.address.postalCode} ${r.address.locality}<br/>
                <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.address)">Itineraire</a>
                <a if.bind="!userDetails.address" click.delegate="startingPoint={}">Itineraire</a> |
                <a click.delegate="viewLocation(r.address)">Carte</a>
              </p>
            </div>
          </div>
        </div>

        <div class="edit-form  ${action=='edit' ? 'edit-form-visible' : 'edit-form-hidden' }">
          <div style="text-align:right;margin-bottom:10px;">
            <hr/>
            <a click.delegate="action=null" class="close" style="border:2px solid"></a>
          </div>
          <form class="default-form">
            <div class="divider-edit-block">
              <div class="form-entry">
                <label class="width-lg-30 width-md-30"> Contact : </label>
                <div class="inputs-container rows-input width-lg-70 width-md-40">
                  <input type="text" placeholder="Nom et Prenom"> <br/>
                  <input type="text" placeholder="Telephone "> <br/>
                  <input type="text" placeholder="Adresse mail ">
                  <!-- coloring with deffernet color 'gray' -->
                </div>
              </div>
              <div class="form-entry">
                <label class="width-lg-30 width-md-30"> Ouvert aux <br/> inscription :</label>
                <div class="input-container width-lg-70 width-md-70">
                  <label class="switch">  <!-- you found it's CSS in common -->
                  <input type="checkbox"> <!-- you can marke it as 'checked' so you can put a condition ;) -->
                    <div class="slider round"></div>
                 </label>
                </div>
              </div>
            </div>


            <div class="divider-edit-block" style="vertical-align: top;">
              <div class="form-entry">
                <label class="width-lg-30 width-md-30"> Adresse : </label>
                <div class="inputs-container rows-input width-lg-70 width-md-70">
                  <input type="text" placeholder="Adresse"> <br/>
                  <input type="text" placeholder="Complement d'adresse" /><br/>
                  <input type="text" style="background-color:grey;" placeholder="votre code postal" readonly/>
                  <!-- coloring with deffernet color 'gray' -->
                </div>
              </div>
              <div class="form-entry">
                <label class="width-lg-30 width-md-30"> Date :</label>
                <div class="inputs-container date-input width-lg-70 width-md-70">
                  De <input type="text" placeholder="JJ/MM/AAAA" /> au
                  <input type="text" placeholder="JJ/MM/AAAA" />
                </div>
              </div>
        

            </div>
            <div style="text-align:center;padding:20px 0px">
              <button>Enregistrer</button>
              <button>Annuler</button>
            </div>

          </form>



        </div>



      </div>
      <div class="result-footer" style="text-align:right" if.bind="action==null">
        <button click.delegate="action='edit'">Edit</button>
        <button click.delegate="action='delete'">Delete</button>
      </div>


    </div>
  </div>
</template>