<template>

  <require from="views/_components/place-autocomplete"></require>

  <require from="views/_formatters/date-format"></require>

  <div class="results" if.bind="results.length>0">

    <div class="result" repeat.for="r of results">


      <div class="result-infos-container">
        <div style="display:flex">
          <div class="result-image-block" style="background-image: url('/assets/img/unsorted/paris-sciences-po.jpg')">
            <div class="fit-to-content">
              Type : ${r.type}
            </div>
            <br/>
            <div class="fit-to-content" if.bind="moment(r.registrationStartDate).diff()>0">
              Ouverture des inscriptions le ${r.registrationStartDate | myDateFormat:'DD/MM'}
            </div>
            <div class="fit-to-content" if.bind="moment(r.registrationStartDate).diff()<0">
              Ouvert aux inscriptions
            </div>
            <br/>
            <div class="fit-to-content"> Niveau : ${r.level}</div>
          </div>
          <div class="result-infos-block">
            <div>
              <label>Date </label>
              <p>
                du ${r.startDate | myDateFormat:'DD/MM/YYYY'} au ${r.endDate | myDateFormat:'DD/MM/YYYY'}
              </p>
            </div>
            <div>
              <label>Contact </label>
              <p>
                ${r.contact.name} <br/> ${r.contact.phoneNumber} <br/>
                <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a>
              </p>
            </div>
            <div>
              <label>
              Adresse 
            </label>
              <p>
                ${r.address.street1}<br/> ${r.address.street2}
                <br if.bind="r.address.street2 != null " /> ${r.address.postalCode} ${r.address.locality}<br/>
                <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.address)">Itineraire</a>
              </p>
            </div>
          </div>
        </div>
        <div class="edit-form  ${action=='edit' ? 'edit-form-visible' : 'edit-form-hidden' }">
          <div style="text-align:right;padding-right:10px;padding-top:10px">
            <a click.delegate="action=null" class="close"></a>
          </div>


          <form class="default-form split-lg-30-70">
            <div style="display:flex;">
              <div style="width:50%">
                <div class="form-entry">
                  <label>Début</label>
                  <div class="input-container">
                    <input type="text" />
                  </div>
                </div>
                <div class="form-entry">
                  <label>Fin</label>
                  <div class="input-container">
                    <input type="text" />
                  </div>
                </div>
                <div class="form-entry">
                  <label>Niveau</label>
                  <div class="input-container">
                    <select></select>
                  </div>
                </div>        
                <div class="form-entry">
                  <label>Type</label>
                  <div class="input-container">
                    <select></select>
                  </div>
                </div>                
                <div class="form-entry">
                  <label>Ouverture des inscriptions</label>
                  <div class="input-container">
                    <input type="text" />
                    <input type="checkbox" /> ouvert aux inscriptions
                  </div>
                </div>
              </div>
              <div style="width:50%">
                <div class="form-entry">
                  <label>Contact</label>
                  <div class="input-container">
                    <input type="text" placeholder="Prénom" />
                    <input type="text" placeholder="Nom" />
                    <input type="text" placeholder="Adresse mail" />
                    <input type="text" placeholder="Téléphone" />
                  </div>
                </div>
                <div class="form-entry">
                  <label>Adresse</label>
                  <div class="input-container">
                    <input type="text" placeholder="Adresse"  />
                    <input type="text" placeholder="Complément d'adresse" />
                  </div>
                </div>                
              </div>
            </div>
            <div style="text-align:center;padding:20px 0px">
              <button click.delegate="action=null">Annuler</button>
              <button click.delegate="action=null">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
      <div class="result-footer" style="text-align:right">
        <div  if.bind="action==null">
          <button click.delegate="action='edit'">Edit</button>
          <button click.delegate="action='delete'">Delete</button>
        </div>
        <div if.bind="action=='delete'">
          Etes vous sûr de vouloir supprimer cet élément ? 
          <button click.delegate="action=null">Oui</button>
          <button  click.delegate="action=null">Non</button>
        </div>
      </div>
    </div>
  </div>
</template>