<template>

	<div class="_results">

		<div class="horizontal " style="font-family:SegoeUiSlim;margin-bottom:15px" ltr-right rtl-left>
			<form class="width-lg-70" style="text-align:left">
				<input type="radio" name="accepted" checked.bind="filter.accepted" value="true" change.trigger="find()" /> Demandes acceptées
				<input type="radio" name="accepted" checked.bind="filter.accepted" value="false" change.trigger="find()" /> Demandes
				en attente
			</form>

		</div>

		<div class="_result" repeat.for="r of results" style="margin-bottom:70px">

			<div class="width-lg-100 vertical">
				<div class="_result-header horizontal" rtl-right ltr-left style="height:40px">
					<div class="${r.item.volunteer ? 'width-lg-50' : 'width-lg-100'}" ltr-left rtl-right>
						Demandé par : ${r.item.refugee.name}
					</div>
					<div class="width-lg-50" ltr-right rtl-left if.bind="r.item.volunteer==null">
						<button click.delegate="accept(r)">Accepter</button>
					</div>
					<div class="width-lg-50" ltr-right rtl-left if.bind="r.item.volunteer!=null">
						<button click.delegate="cancel(r)">Annuler</button>
					</div>
				</div>
				<div class="_result-body horizontal">

					<div class="_image-container" style="background-image:url('/assets/img/saif/teaching.svg')">
						<div if.bind="r.item.reason == 'INTERPRETING'">
							<div class="fit-to-content">
								Pour : Interprétariat (${r.item.languages.join(' ou ')})
							</div>
						</div>
						<div if.bind="r.item.reason == 'SUPPORT_IN_STUDIES'">
							<div class="fit-to-content">
								Pour : Soutien (${r.item.fieldOfStudy})
							</div>
						</div>
						<div if.bind="r.item.reason == 'CONVERSATION'">
							<div class="fit-to-content">
								Pour : Leçons de français
							</div>
						</div>
						<div>
							<div class="fit-to-content">
								Postée le ${r.item.post | myDateFormat:'DD/MM'}
							</div>
						</div>
					</div>

					<div class="vertical _infos-container">

						<img src="/assets/img/common/arrow-right-saif.svg" style="position:absolute; width:30px;height:30px; right:100%; bottom:25%;">
						<div class="horizontal">
							<div class="width-lg-40 info-title" left-or-right>
								<img src="/assets/img/common/icon-contact.svg" /> Contact :
							</div>
							<div class="width-lg-60 info-text">
								${r.item.refugee.name}<br/> ${r.item.refugee.phoneNumber} <br/> ${r.item.refugee.mailAddress}
							</div>
						</div>
						<div class="horizontal">
							<div class="width-lg-40 info-title" left-or-right>
								<img src="/assets/img/common/icon-address.svg" /> Région :
							</div>
							<div class="width-lg-60 info-text">
								${r.item.refugeeLocation.postalCode} ${r.item.refugeeLocation.locality}
							</div>
						</div>
					</div>
				</div>
				<div class="_result-body">
					<div style="background-color:#e7e9e8;padding:10px;box-sizing: border-box;" class="width-lg-100">
						Informations complémentaires : ${r.item.additionalInformations}<br/><br/> Contraintes de date : ${r.item.dateConstraint}
					</div>
				</div>
				<div class="_result-footer" style="text-align: right">
					<button click.delegate="viewMessages(r)" if.bind ="r.messages==null"> Voir les messages</button>
                    <button click.delegate="startAccept(r)" if.bind ="r.messages==null"> Je peux répondre à cette demande</button>
                    <button click.delegate="delete(r)">Je ne peux pas répondre à cette demande</button>
				</div>
				<div class="conversations" style="background-color:#e7e9e8;" if.bind="r.messages">
					<div style="text-align:right;padding-right:10px;padding-top:10px">
						<a click.delegate="hideMessages(r)" class="close"></a>
					</div>
					<div style="padding:10px;font-family:SegoeUi;">
						<div>
							<div style="padding:5px;display:inline-block;"><b>Alaric</b> : Lorem ipsum 
                            </div> 
                            <br/>
							<div ltr-right rtl-left>19/07/2016 21H30</div>
						</div>
						<hr/>
						<div class="offset-lg-10">
							<div style="padding:5px;display:inline-block;"><b>Nour</b> : Lorem ipsum dolor sit amet, consectetur.
                            </div>
                            <br/>
							<div ltr-right rtl-left>19/07/2016 21H30</div>
						</div>
                        <hr/>
						<div class="offset-lg-10">
							<div style="padding:5px;display:inline-block;"><b>Nour</b> : Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</div> 
                            <br/>
							<div ltr-right rtl-left>19/07/2016 21H30</div>
						</div>
                        <hr/>
                        <div>
							<div style="padding:5px;display:inline-block;"><b>Alaric</b> : Lorem ipsum dolor sit amet
                            </div>
                            <br/>
							<div ltr-right rtl-left>19/07/2016 21H30</div>
						</div>
                        <hr/>
						<div class="offset-lg-10">
							<div style="padding:5px;display:inline-block;"><b>Nour</b> : Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</div> 
                            <br/>
							<div ltr-right rtl-left>19/07/2016 21H30</div>
						</div>
                        <hr/>
                        <div>
							<div style="padding:5px;display:inline-block;"><b>Alaric</b> : Lorem ipsum dolor sit amet
                            </div>
                            <br/>
							<div ltr-right rtl-left>19/07/2016 21H30</div>
						</div>
                        <hr/>
                        <textarea rows="3" class="width-lg-100" value.bind="newMessage.text"> </textarea><br/>
                        <button click.delegate="saveNewMessage(r, newMessage)"> Envoyer </button>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>