<template>

    <require from="/assets/css/specific/about.css"></require>

    <div class="about-container">
        <div class="about-block  bg-yellow">
            <div class="text-block">
                <h1> La situation</h1>
                <br>- L’Etat ne propose pas de cours de français aux demandeurs d’asile et pour les réfugiés, les offres sont tardives et d’un niveau insuffisant pour une bonne intégration.<br><br>
                - Les associations et institutions n’ont  pas les moyens  pour répondre aux besoins.<br><br>
                - Les offres de formation manquent de visibilité.<br><br>
                - Faute d’accompagnement global et personnalisé, il y a de nombreuses ruptures de formation.<br><br>
            </div>
            <div class="image-block" rtl-left ltr-right>
                <img src="/assets/img/about/situation.png" />
            </div>
        </div>
        <div class="about-block " style="display:block">
            <h1>Notre Objectif </h1><br/>
            <div style="display:flex;">
                <div class="text-block" style="width:50%">
                    <b>Se coordonner entre institutions (universités, écoles de langue, écoles de formation professionnelle, bibliothèques), associations, réfugiés et Ministères (de l’Intérieur, de l’Emploi, de l’Education Nationale, de la Francophonie) ainsi que collectivités locales pour :</b><br/><br/>
                    - Développer les offres et les initiatives innovantes. <br/><br/>
                    - Promouvoir une politique linguistique pilotée par une « Agence Nationale de la Langue Française ».

                </div>
                <div class="text-block" style="width:50%">
                    <b>Grâce à une plateforme internet :</b><br/><br/><br/>
                    - Permettre aux demandeurs d’asile et aux réfugiés d’avoir accès aux différentes formations de français qui répondent à leurs besoins (communiquer, accéder aux formations universitaires ou professionnelles). <br/><br/>
                    - Les mettre en relation avec des bénévoles interprètes et/ou des bénévoles pouvant les aider dans leur apprentissage du français et dans leur parcours de formation.
                </div>
            </div>
        </div>
        <div class="about-block bg-blue">
            <div class="text-block">
                <h1> Un Collectif </h1>
                <b>Service Jésuite des réfugiés (JRS France) Fondateur.</b><br/>
                Bibliothèques Sans Frontières.<br/>
                Centre d’Action Sociale Protestante (CASP).<br/>
                Service Réfugié du Pôle Asile Centre de Recherche et d’Action Sociale (CERAS).<br/>
                Institut National des Langues et Civilisations Orientales (INALCO).<br/>
                Kiron.<br/>
                Université Américaine de Paris.<br/>
                Sciences Po Paris.<br/>
                Singa.<br/>
                Wintegreat.<br/>
                Réseau Etudes Supérieures et Orientation des Migrant.e.s et Exilé.e.s(RESOME).

            </div>
            <div class="image-block"  rtl-left ltr-right>
                <img src="/assets/img/about/moyens.JPG" />
            </div>
        </div>
        <div class="about-block bg-rose">
            <div class="image-block">
                <img src="/assets/img/about/rejoignez-nous.png" />
            </div>
            <div class="text-block">
                <h1>Rejoignez-nous </h1>
                <br>Institutions, bénévoles, professionnels, fonctionnaires, chacun a son rôle à jouer pour accueillir autrement.<br/>
                <br>Inscrivez vous sur le portail :<a style="text-decoration: underline;" href="http://inscription.cpafrance.fr/">inscription.cpafrance.fr</a><br/>
                <br/> Contact : <a style="text-decoration: underline;"  href="mailto:contact.cpa@jrsfrance.org"> contact.cpa@jrsfrance.org</a><br>
                <br/>Plus d’informations sur notre page <a style="text-decoration: underline;"  href="https://www.facebook.com/Comprendre-pour-Apprendre-1024258144317248/">Facebook</a>
            </div>
        </div>

    </div>


    <br><br>

</template>