<template class="choseLanguageBody">
    <div class="bodyLanguage">
        <div class="secoundBackground">

            <button class="languageChoiceButton" id="firstButton" click.delegate="goForward('fr')"> Fran&ccedil;ais </button>
            <button class="languageChoiceButton" click.delegate="goForward('en')"> English </button>
            <button class="languageChoiceButton" click.delegate="goForward('arabe')"> العربية </button>
            <button class="languageChoiceButton" click.delegate="goForward('dari')"> Dari </button>
        </div>
    </div>
</template>