<template class="choseLanguageBody">
    <div class="mainHeader">
        <a href="#">
            <img class="LogoCpa" src="/assets/img/logo.svg" alt="Logo" title="Comprendre pour Apprendre" />
        </a>
        <button class="signInButton">
                <img src="/assets/img/common/login.svg" alt="sign in" title="click to sign in" />
                <span>Login</span>
            </button>
    </div>
    <div class="bodyLanguage">
        <div class="secoundBackground">
            <a route-href="route: home"> <button class="languageChoiceButton" id="firstButton"> Fran&ccedil;ais </button> </a>
            <button class="languageChoiceButton"> English </button>
            <button class="languageChoiceButton"> العربية </button>
            <button class="languageChoiceButton"> Dari </button>
        </div>
    </div>
</template>