form > .form-entry {
    font-size: 12pt;
    font-family: Arial, Helvetica;
}

form > .form-entry > label {
    font-weight: bold;
}

form > .form-entry > .input-container > input[type=text], 
form > .form-entry > .input-container > input[type=password], 
form > .form-entry > .input-container > select,
form > .form-entry > .inputs-container > input[type=text], 
form > .form-entry > .inputs-container > input[type=password], 
form > .form-entry > .inputs-container > select {
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    box-sizing : border-box;
}

form > .form-entry > .input-container > input[type=checkbox] {
}

form > .form-entry > .input-container  button:hover, form > .form-entry > .input-container  button:focus{
         background-color: #4d4d4d;
}

form > .form-entry > .input-container > select {
    background-color: white;
}
/* end of common styles to default-form and inline form */


/* styles for default form (each label / field pair appears on a separate line) */

.default-form > .form-entry {
    width: 100%;
    padding: 8px;
    display: flex;
}

.default-form > .form-entry > label {
    padding-top: 7px;
    padding-right: 20px;
    text-align: right;

}

.default-form > .form-entry > .input-container {
    vertical-align:middle;
}

.default-form > .form-entry > .inputs-container {
    vertical-align:middle;
    display: inline-block;
}

.default-form > .form-entry > .input-container > input[type=text], 
.default-form > .form-entry > .input-container > input[type=password], 
.default-form > .form-entry > .input-container > select {
    display: block;
    width: 100%;
}

/* end of styles for default form  */


/* styles for inline form */

.inline-form > .form-entry {
    padding: 8px;
    display: inline;
}

.inline-form > .form-entry > label {
    padding-top: 7px;
    padding-right: 20px;
}

.inline-form > .form-entry > .input-container {
    display: inline;
}

.inline-form > .form-entry > .input-container > select {
    min-width: 200px
}
/* end of styles for inline form */