/*
contains global style, their name should start by 'common-'
*/
.common-arrow-top{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(-90deg);
}

.common-arrow-right{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(0deg);
}

.common-arrow-left{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
}

.common-arrow-bottom{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
}

.common-location{
    background-image: url(../img/refugee/localisation.svg);
    width:100px;
    height:100px

}