/*
contains styles related to refugees views (/views/refugees).
view specific styles should start by the name of the view (cursus-, teaching-, library-, etc...). Exemple : cursus-style1
*/

.refugee-menu{
    width: 100%;
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}
.refugee-menu > figure {
    display: inline-block;
    margin: 15px 20px
}

.refugee-menu > figure > a{
    display: inline-block;
    border-radius: 100%;
    border: 0px solid;
    margin: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.refugee-menu > figure > a:hover, .refugee-menu > figure > a:focus{
    border-width: 10px;
}

.refugee-menu > figure#menu-item-teachings > a{
    background-color: #1B1464 ; 
    border-color: #1B1464 ;
}
.refugee-menu > figure#menu-item-cursus > a{
    background-color: #F74D2B ; 
    border-color: #F74D2B;
}

.refugee-menu > figure#menu-item-professional-trainings > a{
    background-color: #8CC63F ; 
    border-color: #8CC63F;
}

.refugee-menu > figure#menu-item-workshops > a{
    background-color: #9E005D ; 
    border-color: #9E005D;
}
.refugee-menu > figure#menu-item-events > a{
    background-color: #29ABE2 ; 
    border-color: #29ABE2;
}

.refugee-menu > figure#menu-item-libraries > a{
    background-color: #D4145A ; 
    border-color: #D4145A;
}

.refugee-menu > figure#menu-item-volunteers > a{
    background-color:#F4B821 ; 
    border-color: #F4B821;
}

.refugee-menu > figure > a > img{
    height: 150px;
    width: 150px;
}

.refugee-menu > figure > figcaption {
    text-align: center;
    font-family: Cavorting;
    color: #4D4D4D;
    padding-top: 20px;
    font-size: 20px;
}

