<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>

  <div style="width:1000px;margin:auto;text-align:right">
    <form submit.delegate="sortByDistance()">
      <input type="text" placeholder="Votre adresse" place-autocomplete="target.bind: userDetails" />
      <button>Classer par proximité</button>
    </form>
  </div>




  <div class="_results" style="width:1000px;" if.bind="results.length>0">

    <div class="_result horizontal" repeat.for="r of results" style="margin-bottom:70px">

      <div class="width-lg-15" style="font-size:25px;font-style:italic;text-align:center">
        <img src="/assets/img/saif/Date.svg" style="width:40px"><br/> ${r.item.startDate | myDateFormat:'DD MMM'}
      </div>
      <div class="width-lg-85 vertical">
        <div class="_result-header horizontal">
          <div style="text-align:left" class="width-lg-80">
            ${r.item.subject}
          </div>
          <div style="text-align:right" class="width-lg-20" if.bind="r.distance">
            <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.item.address)">
            ${r.distance} km
          </a>
          </div>
        </div>
        <div class="_image-container" style="width:850px;border:none;background-image:url('/assets/img/unsorted/paris-sciences-po.jpg')">
          <div class="fit-to-content" if.bind="moment(r.item.registrationOpeningDate).diff()>0">
            Ouverture des inscriptions le ${r.item.registrationOpeningDate | myDateFormat:'DD/MM'}
          </div>
          <div class="fit-to-content" if.bind="moment(r.item.registrationOpeningDate).diff()<0">
            Cloture des inscriptions le ${r.item.registrationClosingDate | myDateFormat:'DD/MM'}
          </div>
        </div>
        <div style="background-color:#e7e9e8;padding:5px">
          <div class="horizontal">
            <div class="width-lg-70">
              Organisé par ${r.item.organisedBy}
            </div>
            <div class="width-lg-30" style="text-align:right">
              Horaires de ${r.item.startDate | myDateFormat:'HH:mm'} à ${r.item.endDate | myDateFormat:'HH:mm'} 
            </div>
          </div>

          <div style=";font-family:SegoeUiSlim;text-align:justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <p style="text-align:right;font-weight:bold">
              En savoir plus...
            </p>
          </div>
        </div>
        <div class="horizontal _infos-container no-borders" style="width:100%;height:100%">
          <!--
              <a class="link-big link-bottom" style="right:5%;" href="#"> <img src="/assets/img/saif/Download-icon.svg" /></a>
              <a class="link-big link-bottom" style="right:15%;" href="#"> <img src="/assets/img/saif/Gotolink-icon.svg" /></a>
              -->

          <div class="width-lg-10 info-title">
            <img src="/assets/img/saif/Contact.svg" /> Contact
          </div>
          <div class="width-lg-40 info-text">
            ${r.item.contact.name} <br/> ${r.item.contact.phoneNumber} <br/>
            <a href="mailto:${r.contact.mailAddress}">${r.item.contact.mailAddress}</a>
          </div>
          <div class="width-lg-10 info-title">
            <a click.delegate="viewLocation(r.item.address)"> <img src="/assets/img/saif/Address.svg" /> Adresse </a>
          </div>
          <div class="width-lg-40 info-text">
            ${r.item.address.street1}<br/> ${r.item.address.street2}
            <br if.bind="r.item.address.street2 != null " /> ${r.item.address.postalCode} ${r.item.address.locality}
          </div>

        </div>
      </div>
    </div>

    <!--
      <div class="_event-image-container" style="background:url('/assets/img/unsorted/sorbonne.jpg') no-repeat center;background-size:cover;">
        <a class="link-big link-top" style="right:10%" href="#"> <img src="/assets/img/saif/Gotolink-icon.svg" /></a>
        <div class="fit-to-content">
          Organisé par : ${r.item.organisedBy}
        </div>
        <br/>
        <div class="fit-to-content" if.bind="moment(r.item.registrationStartDate).diff()>0">
          Ouverture des inscriptions : ${r.item.registrationStartDate | myDateFormat:'DD/MM/YYYY'}
        </div>
      </div>
      <div class="_event-infos-container">
        <h2> ${r.item.subject} </h2>
        <p style="text-align:justifyfont-size: 15px;line-height: 20px;font-family: segoeui;">
          ${r.item.description}
        </p>
        <div class="horizontal">
          <div>
            <a click.delegate="viewLocation(r.item.address)"> <img class="icon" src="/assets/img/saif/Address.svg" />Adresse :</a>
            ${r.item.address.street1} ${r.item.address.street2} ${r.item.address.postalCode} ${r.item.address.locality}
          </div>
          <div style="position:absolute; right:0%; transform: translateX(-100%);" if.bind="r.distance">
            <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.item.address)">
            ${r.distance} km
          </a>
          </div>
        </div>
        <p>
          <img class="icon" src="/assets/img/saif/Contact.svg" /> Contact : ${r.item.contact.name} (<a href="mailto:${r.contact.mailAddress}">${r.item.contact.mailAddress}</a>,
          téléphone : ${r.item.contact.phoneNumber})
        </p>
        <p>
          <img class="icon" src="/assets/img/saif/Date.svg" />Début : ${r.item.startDate | myDateFormat:'DD/MM/YYYY'} - Fin
          : ${r.item.endDate | myDateFormat:'DD/MM/YYYY'}
        </p>
      </div>
      <div class="_event-result-footer" style="background-color:black;">c</div>
    </div>
    -->
  </div>
</template>