<template>


  


  <form class="search-inline-form" fixed-if-on-top submit.delegate="find()">

    <select value.bind="filter.city">
      <option value="">Ville</option>
      <option>Paris</option>
      <option>Lyon</option>
      <option>Marseille</option>
    </select>

    <select value.bind="filter.levelId">
      <option value="">Sujet</option>
    </select>

    <button class="btn-orange">Rechercher</button>
  </form>


  <div style="width:1000px;margin:auto;text-align:right">
    <form submit.delegate="sortByDistance()">
      <input type="text" placeholder="Votre adresse" place-autocomplete="target.bind: userDetails" />
      <button>Classer par proximité</button>
    </form>
  </div>



  <div class="results" style="width:700px;" if.bind="results.length>0">
    <div class="_result vertical" repeat.for="r of results">

      <div class="_event-image-container" style="background:url('/assets/img/unsorted/sorbonne.jpg') no-repeat center;background-size:cover;">
        <a class="link-big link-top" style="right:10%" href="#"> <img src="/assets/img/common/icon-external-link.svg" /></a>
        <div class="fit-to-content">
          Organisé par : ${r.item.organisedBy}
        </div>
        <br/>
        <div class="fit-to-content" if.bind="moment(r.item.registrationStartDate).diff()>0">
          Ouverture des inscriptions : ${r.item.registrationStartDate | myDateFormat:'DD/MM/YYYY'}
        </div>
      </div>
      <div class="_event-infos-container">
        <h2> ${r.item.subject} </h2>
        <p style="text-align:justifyfont-size: 15px;line-height: 20px;font-family: segoeui;">
          ${r.item.description}
        </p>
        <div class="horizontal">
          <div>
            <a click.delegate="viewLocation(r.item.address)"> <img class="icon" src="/assets/img/common/icon-address.svg" />Adresse :</a>
            ${r.item.address.street1} ${r.item.address.street2} ${r.item.address.postalCode} ${r.item.address.locality}
          </div>
          <div style="position:absolute; right:0%; transform: translateX(-100%);" if.bind="r.distance">
            <a if.bind="userDetails.address" click.delegate="viewItinerary(userDetails.address, r.item.address)">
            ${r.distance} km
          </a>
          </div>
        </div>
        <p>
          <img class="icon" src="/assets/img/common/icon-contact.svg" /> Contact : ${r.item.contact.name} (<a href="mailto:${r.contact.mailAddress}">${r.item.contact.mailAddress}</a>,
          téléphone : ${r.item.contact.phoneNumber})
        </p>
        <p>
          <img class="icon" src="/assets/img/common/icon-date.svg" />Début : ${r.item.startDate | myDateFormat:'DD/MM/YYYY'} - Fin
          : ${r.item.endDate | myDateFormat:'DD/MM/YYYY'}
        </p>
      </div>
      <div class="_event-result-footer" style="background-color:black;">c</div>
    </div>
  </div>
</template>