<template>

  <require from="views/_components/place-autocomplete"></require>
  <require from="views/_formatters/date-format"></require>


  <div style="width:1000px;margin:auto;text-align:right">
    <form submit.delegate="sortByDistance()">
      <input type="text" placeholder="Votre adresse" place-autocomplete="target.bind: userDetails" />
      <button>Classer par proximité</button>
    </form>
  </div>


  <div class="results" if.bind="results.length>0">

    <div class="result" repeat.for="r of results">
      <div class="result-header row">
        <div style="text-align:left;width:80%">
          ${r.item.subject}
        </div>
        <div style="text-align:right;width:20%" if.bind="r.distance">
          ${r.distance} km
        </div>
      </div>

      <div class="row">
        <div class="width-lg-30">
          <img src="/assets/img/unsorted/paris-sciences-po.jpg" style="max-width:100%;max-height:100%;" />
          <p>
            Date : ${r.item.startDate | myDateFormat:'DD/MM/YYYY'}
          </p>
        </div>
        <div class="width-lg-70" style="padding:0px 0px 0px 15px">
          Organisé par ${r.item.organisedBy} -
          <span if.bind="moment(r.item.registrationStartDate).diff()>0">
            Ouverture des inscriptions : ${r.item.registrationStartDate | myDateFormat:'DD/MM/YYYY'}
          </span>
          <span if.bind="moment(r.item.registrationStartDate).diff()<0">
            Ouvert aux inscriptions
          </span>
          <hr/>
          <p style="text-align:justify">
            ${r.item.description}
          </p>
          <p>
            Adresse : ${r.item.address.street1} ${r.item.address.street2} ${r.item.address.postalCode} ${r.item.address.locality} |
            <span if.bind="userDetails.address">
              <a click.delegate="viewItinerary(userDetails.address, r.item.address)">Itineraire</a> | 
            </span>
            <span>
              <a click.delegate="viewLocation(r.item.address)">Carte</a>
            </span>
          </p>
          <p>
            Contact : ${r.item.contact.name} (adresse mail : ${r.item.contact.name}, téléphone : ${r.item.contact.phoneNumber})
          </p>
        </div>
      </div>
    </div>
  </div>
</template>