<template>

  <div class="modal ${action.type== 'edit' && action.target != null  ? 'modal-visible' : 'modal-hidden'}">
    <div class="modal-dialog">
      <div class="modal-dialog-header">
        <div>Modification d'un cursus</div>
        <div>
          <a click.trigger="cancelAction()" class="close"></a>
        </div>
      </div>
      <div class="modal-dialog-body">
        <form class="default-form" submit.delegate="processSignIn()">
          <div class="form-entry">
            <label class="width-lg-20">Adresse mail</label>
            <div class="input-container width-lg-80">
              <input type="text" value.bind="authz.input.mailAddress" />
            </div>
          </div>
          <div class="form-entry">
            <label class="width-lg-20">Mot de passe</label>
            <div class="input-container width-lg-80">
              <input type="password" value.bind="authz.input.password" />
            </div>
          </div>

          <div class="form-entry">
            <label class="width-lg-20">&nbsp;</label>
            <div class="input-container width-lg-80">
              <input type="checkbox" checked.bind="authz.rememberMe" /> se souvenir de moi
            </div>
          </div>
          <div class="form-entry">
            <label class="width-lg-20">&nbsp;</label>
            <div class="input-container width-lg-70">
              <button>Sign in</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-dialog-footer">footer</div>
    </div>
  </div>

  <div class="modal ${action.type== 'delete' && action.target != null ? 'modal-visible' : 'modal-hidden'}">
    <div class="modal-dialog">
      <div class="modal-dialog-header">
        <div>Suppression d'un cursus</div>
        <div>
          <a click.trigger="cancelAction()" class="close"></a>
        </div>
      </div>
      <div class="modal-dialog-body">
        etes vous sur ?<br/>
        <div style="text-align:center">
          <button> Oui</button>
          <button  click.trigger="cancelAction()" > Non</button>  
        </div> 
      </div>
      <div class="modal-dialog-footer"></div>
    </div>
  </div>

  <div class="results">
    <div class="result" repeat.for="r of results">
      <div style="text-align:right;">
        <button click.delegate="edit(r.item)"> Modifier </button>
        <button click.delegate="delete(r.item)"> Supprimer </button>
      </div>
      <div class="result-infos-container">
        <div class="result-image-block inline-block-lg" style="background-image: url('/assets/img/unsorted/paris-sciences-po.jpg')">
          <div> Ouvert aux inscriptions </div><br/>
          <div> Niveau requis : ${r.item.level} </div><br/>
        </div>
        <div class="result-infos-block inline-block-lg" style="width:500px">
          <div>
            <label>Date </label>
            <p>
              du ${r.item.startDate} au ${r.item.endDate}<br/>
              <a href="#">Voir le calendrier des cours</a>
            </p>
          </div>
          <div>
            <label>
              Adresse 
            </label>
            <p>
              ${r.item.address.street1}<br/> ${r.item.address.street2}
              <br if.bind="r.item.address.street2 != null " /> ${r.item.address.zipcode}, ${r.item.address.city}<br/>
              <a href="#">Itineraire</a>
            </p>
          </div>
          <div>
            <label>Contact </label>
            <p>
              ${r.item.contact.name} <br/> ${r.item.contact.phoneNumber} <br/>
              <a href="mailto:${r.contact.mailAddress}">${r.item.contact.mailAddress}</a>
            </p>
          </div>
        </div>
        <!--
        <div style="padding:15px">
          contact : <br/>
          ${r.contact.name} <br/>
          ${r.contact.phoneNumber} <br/> 
          <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a> 
        </div> !-->

      </div>
      <!--
      <div class="width-lg-50 inline-block-lg" >
        
        <div class="field">
          <label>Dates :	</label>
          <p>du ${r.startDate} au ${r.endDate}</p>
        </div>

        <div class="field">
          <label> Adresse :</label>
            <p> 
                ${r.address.street1}<br/>
                ${r.address.street2}<br if.bind="r.address.street2 != null " />
                ${r.address.zipcode}, ${r.address.city}<br/>
                ${r.address.country}<br/>
	          </p>
        </div>

        <div class="field">
          <label> Contact :</label>
          <p>Nom : ${r.contact.name}<br/> T&eacute;l&eacute;phone : ${r.contact.phoneNumber}<br/> Mail : <a href="mailto:${r.contact.mailAddress}">${r.contact.mailAddress}</a></p>
        </div>

      </div>
    </div>
    -->


      <!--
  <table style="width:100%" if.bind="results.length>0">
    <thead>
      <tr>
        <td>Niveau requis</td>
        <td>Organisation</td>
        <td>Contact</td>
        <td>Ville</td>
        <td>Adresse</td>
        <td>Date début</td>
        <td>Date fin</td>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="r of results">
        <td>${r.level}</td>
        <td>${r.organisation}</td>
        <td>${r.contact.name} ${r.contact.phoneNumber} ${r.contact.mailAddress}</td>
        <td>${r.address.city}</td>
        <td>${r.address.street1} ${r.address.street2} ${r.address.zipcode} ${r.address.city} ${r.address.country}</td>
        <td>${r.startDate}</td>
        <td>${r.endDate}</td>
      </tr>
    </tbody>
  </table>
  
  !-->

</template>