<template>
    <require from="views/_components/user-form"></require>
    
    <div class="separator"></div>


    <div class="width-lg-60" style="margin:auto">
        <div if.bind="userDetails.lastAction=='sign-up'">
            <p>
                Thanks for your registration. Could you complete your profile by telling us how you could help ?
            </p>
            
            <p>
                First of all, the city where you leave will help us to sollicate you help only for refugees who leave in your area. Then
                if you master another language it could be a great help for refugees,especially when they need to do an administrative
                task. Very often they don't speak french well enough to understand clearly the administrative procedure.
            </p>

            <p>
                Last but not least, if you master a domain like mathematic, physics, ... would you accept to help refugees in their studies ?
            </p>
        </div>
        
        <user-form show-credentials.bind="userDetails.lastAction!='sign-up'" show-identity.bind="userDetails.lastAction!='sign-up'" show-details="true" action="update-profile"></user-form>
        
    </div>

</template>