<template>

  <require from="/assets/css/specific/index.css"></require>

  <div id="menu" class="menu">
    <figure id="menu-item-language-programs" class="${router.currentInstruction.config.name=='refugees/language-programs' ? 'active' : ''}">
      <a route-href="route: refugees/language-programs">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-language-program.svg" />
      </a>
      <figcaption>${i18n("French courses") & signal : 'language-change'}</figcaption>
    </figure>
    <figure id="menu-item-teachings" class="${router.currentInstruction.config.name=='refugees/teachings' ? 'active' : ''}">
      <a route-href="route: refugees/teachings">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-teaching.svg" />
      </a>
      <figcaption>${i18n("University studies") & signal : 'language-change'}</figcaption>
    </figure>
    <figure id="menu-item-professional-programs" class="${router.currentInstruction.config.name=='refugees/professional-programs' ? 'active' : ''}">
      <a route-href="route: refugees/professional-programs">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-professional-program.svg" />
      </a>
      <figcaption>${i18n("Professional training") & signal : 'language-change'}</figcaption>
    </figure>
    <figure id="menu-item-workshops" class="${router.currentInstruction.config.name=='refugees/workshops' ? 'active' : ''}">
      <a route-href="route: refugees/workshops">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-workshop.svg" />
      </a>
      <figcaption>${i18n("Workshops") & signal : 'language-change'}</figcaption>
    </figure>
    <figure id="menu-item-events" class="${router.currentInstruction.config.name=='refugees/events' ? 'active' : ''}">
      <a route-href="route: refugees/events">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-event.svg" />
      </a>
      <figcaption>${i18n("Events") & signal : 'language-change'}</figcaption>
    </figure>
    <figure id="menu-item-libraries" class="${router.currentInstruction.config.name=='refugees/self-teaching' ? 'active' : ''}">
      <a route-href="route: refugees/self-teaching">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-library.svg" />
      </a>
      <figcaption><figcaption>${i18n("Self learning") & signal : 'language-change'}</figcaption></figcaption>
    </figure>    
    <figure id="menu-item-volunteers" class="${router.currentInstruction.config.name=='refugees/meeting-requests' ? 'active' : ''}">
      <a route-href="route: refugees/meeting-requests">
        <img class="size-150-lg size-100-md" src="/assets/img/menu/icon-interpreter.svg" />
      </a>
      <figcaption><figcaption>${i18n("Meet a volunteer") & signal : 'language-change'}</figcaption></figcaption>
    </figure>
  </div>

  <router-view></router-view>

  


</template>