<template>
  <require from="/assets/css/refugee.css"></require>

  <div class="containerId">
    <div class="containerIdPhoto">
      <div class="idPhoto">
        <div class="changePhoto">
          <p> <a href="#">Changer votre Photo </a> </p>
        </div>
      </div>
    </div>
    <p class="idStatus"> Je suis r&eacute;fugi&eacute;/ demandeur d'asile </p>
    <div class="idCalendar"> <img id="smallCalenderIcone" src="assets/img/refugee/icon-calendar.svg" />
      <p> Retourner a
        <a href="#"> mon calendrier <img id="arrowRight" src="assets/img/common/arrow.svg" /></a>
      </p>
    </div>
  </div>

  <div class="refugee-menu">

    <figure id="menu-item-teachings">
      <a route-href="route: refugees/teachings">
        <img src="assets/img/refugee/icon-teaching.svg"/>
      </a>
      <figcaption> &Eacute;tudes sup&eacute;rieurs </figcaption>
    </figure>
    
    <figure id="menu-item-cursus">
      <a route-href="route: refugees/cursus">
        <img src="assets/img/refugee/icon-cursus.svg" />
      </a>
      <figcaption> Cursus d'apprentissage </figcaption>
    </figure>
    <figure id="menu-item-professional-trainings">
      <a href="#"> 
        <img src="assets/img/refugee/formations professionnelles-seul.svg" />
      </a>
      <figcaption> Formation professionelle </figcaption>
    </figure>
    <figure id="menu-item-workshops">
      <a route-href="route: refugees/workshops"> 
        <img src="assets/img/refugee/icon-workshop.svg" />
      </a>
      <figcaption> Ateliers sociaux linguistiques </figcaption>
    </figure>
    <figure id="menu-item-libraries">
      <a route-href="route: refugees/libraries"> 
        <img src="assets/img/refugee/icon-library.svg" />
      </a>
      <figcaption> Annuaires des bibliot&egrave;que </figcaption>
    </figure>
    <figure id="menu-item-volunteers">
      <a route-href="route: refugees/volunteers">
        <img src="assets/img/refugee/icon-volunteer.svg" />
      </a>
      <figcaption> Interpr&egrave;tes </figcaption>
    </figure>
    <figure id="menu-item-events">
      <a route-href="route: refugees/events"> 
        <img src="assets/img/refugee/icon-date.svg" />
      </a>
      <figcaption> &Eacute;v&egrave;nements </figcaption>
    </figure>

  </div>

  <div class="separator"> </div>

  <router-view></router-view>

  <div class="index" if.bind="router.history.fragment=='/Refugees'">
    <img src="assets/img/common/arrow.svg" class="common-arrow-top" />
    <p> Veuillez choisir un domaine de recherche </p>
  </div>
  
</template>