<template>
  <require from="/assets/css/common/common-introduction.css"></require>

  <hr style="margin:0px 25px"/>

  <div class="introduction">
    <div class="introduction-entry">
      <div class="images-block" ltr-right rtl-left>
        <img style="background-color: #F74D2B;" src="/assets/img/menu/icon-language-program.svg" />
      </div>
      <div class="text-block">
        ${i18n("French courses")  & signal : 'language-change'}
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block" ltr-right rtl-left>
        <img style="background-color: #1B1464;" src="/assets/img/menu/icon-teaching.svg" />
      </div>
      <div class="text-block">
        ${i18n("University studies")  & signal : 'language-change'}
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block" ltr-right rtl-left>
        <img style="background-color: #8CC63F;" src="/assets/img/menu/icon-professional-program.svg" />
      </div>
      <div class="text-block">
        ${i18n("Professional training")  & signal : 'language-change'}
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block" ltr-right rtl-left>
        <img style="background-color: #9E005D;" src="/assets/img/menu/icon-workshop.svg" />
      </div>
      <div class="text-block">
        ${i18n("Workshops")  & signal : 'language-change'}
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block" ltr-right rtl-left>
        <img style="background-color: #D4145A;" src="/assets/img/menu/icon-library.svg" />
      </div>
      <div class="text-block">
        ${i18n("Self learning")  & signal : 'language-change'}
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block" ltr-right rtl-left>
        <img style="background-color: #F4B821;" src="/assets/img/menu/icon-interpreter.svg" />
      </div>
      <div class="text-block">
        ${i18n("Meet a volunteer")  & signal : 'language-change'}
      </div>
    </div>
  </div>
</template>