<template>
  <require from="/assets/css/common/common-introduction.css"></require>

  <div class="introduction">
    <div class="introduction-entry">
      <div class="images-block">
        <img style="background-color: #1B1464;" src="/assets/img/menu/icon-teaching.svg" />
        <img style="background-color: #8CC63F;" src="/assets/img/menu/icon-professional-program.svg" />
      </div>
      <div class="text-block">
        Des offres de formations (études supérieures ou formations professionnelles) avec accompagnement linguistique
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block">
        <img style="background-color: #F74D2B;" src="/assets/img/menu/icon-language-program.svg" />
      </div>
      <div class="text-block">
        Des cursus de français selon les besoins (enseignement supérieur, français à visée professionnelle, français pour la vie
        quotidienne)
      </div>
    </div>

    <div class="introduction-entry">
      <div class="images-block">
        <img style="background-color: #D4145A;" src="/assets/img/menu/icon-library.svg" />
        <img style="background-color: #9E005D;" src="/assets/img/menu/icon-workshop.svg" />
      </div>
      <div class="text-block">
        Des méthodes d’auto-apprentissage et des ateliers de conversation
      </div>
    </div>
    <div class="introduction-entry">
      <div class="images-block">
        <img style="background-color: #F4B821;" src="/assets/img/menu/icon-interpreter.svg" />
      </div>
      <div class="text-block">
        Je peux aussi entrer en relation avec un bénévole pour un accompagnement dans l’apprentissage du français, interprétariat,
        ou d’autres formations.
      </div>
    </div>
  </div>


  <div if.bind="userDetails.language=='en'">
    hello
  </div>
  ${referenceData}
</template>