body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Nour's code */
@font-face{
    font-family: Archer;
    src: url(Fonts/Archer/Archer-Medium-Pro.otf)
}
@font-face{
    font-family: ArcherBold;
    src: url(Fonts/Archer/Archer-Bold-Pro.otf)
}
@font-face{
    font-family: Cavorting;
    src: url(Fonts/Cavorting.otf)
}
@font-face{
    font-family: Abadi;
    src: url(Fonts/ufonts.com_abadi-mt-condensed-light.ttf)
}
@font-face{
    font-family: AbadiBold;
    src: url(Fonts/abadi-mt-condensed-extra-bold.ttf)
}

html{
    margin: auto;
    max-width:1600px;
    min-width: 1400px;  
}
.choseLanguageBody{
    margin: 0px;
     max-width: inherit;
    min-width: inherit;
}
.mainHeader{
    background-color: #333333;
    height: 100px;
    text-align: center;
}
.LogoCpa{
    margin-left: 150px;
    width: 150px;
    height: 100px;
}
.signInButton{
    text-align: center;
    width: 125px;
    height: 35px;
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    background-color: #ffffff; 
    float: right;
    margin: 30px 40px 0px 0px;
    font-size: 23px;
}
.signInButton:hover{
    font-size: 27px;
}
.signInButton:focus{
    font-size: 27px;
}

.signInButton >  img{
    width: 30px;
    height: 30px;
}
.signInButton >  span{
    float:right;
    margin: 0px 6px 0px 0px ;
    
    font-family: Archer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.bodyLanguage{
    background-image: url("icones/motif2_choix_de_langue.svg");
    background-repeat: no-repeat; 
    background-size: 130%;
    background-position: -8% 55%;
}
.secoundBackground{
    padding: 150px 0px 150px 0px;
     background-image: url("icones/motif_choix_de_langue.svg");
     background-repeat: no-repeat;
     background-size: 85%;
     background-position: -419px 62%;
}

.languageChoiceButton {
    font-family: Archer;
    display: block;
    border-width: 0px;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin: 55px auto 0px auto;
    cursor: pointer;
    background-color: #4d4d4d;
    color: #ffffff;
    font-size: 19pt;
    -webkit-transition: all 0.5s  ;
    -moz-transition: all 0.5s  ;
    transition: all 0.5s  ;
}
.languageChoiceButton:focus {
    background-color: #cccccc;
    font-size: 23pt;
}
.languageChoiceButton:hover {
    background-color: #cccccc;
    font-size: 23pt;
}
#firstButton{
    margin-top: 0px;

}
.choosingStatus{
    text-align: center;
    height: 600px;
    z-index: 1;
    margin-bottom: 150px;
}
.choosingStatus>div {
    display: inline-block;
    margin: 130px 50px; 
}
#first{
    margin-left:0px;
}
#last{
    margin-right: 0px;
}
.circleImage {
    height: 250 px;
    width: 250px;
    border-radius: 100%;
    border-width: 20px;
    border-style: solid;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#refugie {
 border-color: #0FC6C6;
}
#benevole {
border-color: #F4B821;
}
#institution {
border-color: #F21C4F;
}
.circleImage:hover{
    border-width: 35px;
}

.choosingStatus figcaption {
    text-align: center;
    font-family: Cavorting;
    color: #4D4D4D;
    font-size: 35px;
    margin-top: 40px;
}
.containerLaSituation {
    background-color: #F4B821;
    height: 576.844px;
    width: inherit;
    text-align: center;
}
.sideText{
    width: 53.7%;
    display:inline-block;
    text-align: center;
    
}
.sideParagraph{
    font-family: Abadi;
    font-size: 20pt;
}
#laSituationParagraph{
    padding : 0px 120px 0px 120px;
    margin-top: 0px;
    text-align: left;
}
#AbadiBold {
    font-family: AbadiBold;
}
.sideImg {
    width: 46.3%;
    height: 576.844px;
    
}
#left{
    float: left;
}
#right{
    float: right;
}
.sideHeader{
    font-family: Cavorting ;
    margin: 0px auto;
    font-size: 100pt;
    font-weight: normal;
}
#laSituation{
    position: relative;
    z-index: 3;
    bottom: 85px;
    transform: rotate(-3deg);
}
.containerNosAction {
    background-color: #0FC6C6;
    height: 576.844px;
    width: inherit;
}
#nosActions{
    transform: rotate(-3deg);
}
#nosActionsParagraph{
    text-align: left;
    padding: 0px 150px 0px 150px;
}
.containerNotreObjectif{
    background-color: #ffffff;
    height: 576.844px;
    width: inherit;
    text-align: center;
}
.containerNotreObjectif p {
    display: inline-block;
    padding: 20px; 
    width: 40%;
    text-align: left;
}
#notreObjectifParagraph{
    padding-top: 0px;
    margin-top: 0px;
}


.containerNosMoyens {
    background-color: #F4B821;
    height: 576.844px;
    width: inherit;
    text-align: center;
}
#nosMoyens{
    position: relative;
    z-index: 3;
    bottom: 85px;
    transform: rotate(-3deg);
}
#nosMoyensParagraph{
    padding: 0px 100px 40px 100px;
    margin-top: 0px;
    text-align: left;
}
.containerRejoignezNous {
    background-color: #ED4C7B;
    height: 576.844px;
    width: inherit;
    text-align: center;
}
#RejoignezNousParagraph{
    padding: 20px 100px 00px 100px;
    text-align: left;
}
.partners{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;    
    margin: auto;
}
.partners img{
    padding: 0px 10px;
    width: 100px;
    height: 100px;
}
.footer{
    width: inherit;
    font-size: 30px;
    background-color: #333333;
    text-align: center;
    height: 80px;
    vertical-align: 50%;
    padding-top: 40px;
    color: gray;
}
.footer a{
    text-decoration: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.containerId{
  width: inherit;
  height: 400px;
  background-color: #ffffff;
  padding-top: 50px; 
}
.containerIdPhoto{
  height: 280px;
  width: 30%;
  background-color: #0FC6C6;
  border: 10px solid #0FC6C6;
  border-radius: 0px 500px 500px 0px;
  display: inline-block;
  overflow: auto;
  
}
.idPhoto{
  margin: 15px;
  height: 249px;
  width: 249px;
  float: right;
  background-image: url(images/je_suis_refugie.png);
  background-repeat: no-repeat;
}
.changePhoto{
  width: 100%;
  height: 100%;
  border-radius: 500px;
  background-color: #ffffff;
  text-align: center;
  vertical-align: bottom;
  font-family: Archer;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.changePhoto:hover{
  opacity: 0.6;
}
.changePhoto p{
  margin: 0px;
  font-size: 30px;
  padding-top: 60%;
}
.idStatus{
  display: inline-block; 
  margin: 20px 0px 0px 30px;
  font-family: Cavorting;
  font-size: 40pt;
  width: 25%;
  position: relative;
  bottom: 28%;
  color: #4D4D4D;
}
.idCalendar{
  float: right;
  width: 30%;
  background-color: #0FC6C6;
  height: 100px;
  text-align: center;
  border-radius: 50px 0px 0px 50px;
}
.idCalendar p {
  display: inline-block;
  margin: 30px auto 0px auto;
  font-size: 17pt;
  font-family: ArcherBold;
  color: white;
}
#smallCalenderIcone{
  margin-left: 5px;
  margin-top: 5px;
  border: 5px solid #ffffff;
  border-radius: 50px;
  float: left;
  height:80px;
  width: 80px;
}
.idCalendar a{
  color: white;
  text-decoration: underline;
  font-family: ArcherBold;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.idCalendar a:hover{
  color: red;
}
#arrowRight{
  position: relative;
  top: 10px;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#arrowRight:hover{
  top: 13px;
  height: 35px;
  width: 35px;
}
