.search-inline-form{
    font-family:SegoeUiBold ;
    background-color:#363636;
    color:white;
    padding:15px;
    margin:auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-inline-form label {
    margin: 0px;
    padding:0px
}

.search-inline-form input, .search-inline-form select, .search-inline-form button {
    margin-right:20px;
    margin-left:10px;
    font-weight: normal;
}

.search-inline-form select > option:first-child {
    font-style: italic;
}

.search-inline-form input:last-child, .search-inline-form select:last-child, .search-inline-form button {
    margin-right: 0px;
}

._result{
    font-family:SegoeUiBold ;
    width:1000px;
    margin:auto;
    margin-bottom: 40px;
    /*color, font-family, margin-bottom, etc...*/
}

._result-header{
    font-size: 25px ;
    display: flex;
    margin-bottom: 10px;
}


._result-body{
        border-radius: 10px;
}

._result-footer{
   
}

._image-container {
    height: 250px;
    width: 500px;
    color: white;
    border: 2px solid #333333;
    padding-top:30px;
    box-sizing:border-box;
    border-radius: 10px 0px 0px 10px;
}

._image-container > div {
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 0px 5px 5px 0px;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

._infos-container {
    border-radius: 0px 10px 10px 0px ;
    box-sizing: border-box;
    height: 250px;
    width: 500px;
    padding: 20px;
    background-color: #333333 ;
    color: white;
    position:relative;
}

._infos-container > div {
    border-bottom: 1px dashed white;
    flex: 1;
    align-items: center;
}

/* --- icon --*/
._infos-container > div img{
    width:40px;
    height:40px;
    margin-right: 15px;
    vertical-align: middle;
}

._infos-container > div .bold {
    font-family: SegoeUiBold;
    font-size: 18px;
    padding-left: 30px;
}

._infos-container > div .info {
    padding-left: 10%;
    font-family: SegoeUiSlim;
    font-size: 16px;
}

._infos-container > div .info a {
    color: white;
}


._infos-container > div:last-child {
    border-bottom-width: 0px
}

.link{
    position: absolute;
    width: 40px;
    top: -10%
}

.link > img{
    width:40px;
}

._edit-container{
    background-color: #706E69;
    border-radius: 10px;
}
._edit-container > form fieldset {
    margin: 0% 3% ;
}

._edit-container._edit-container-hidden {   
    height:0px;
    overflow: hidden;
}

._edit-container._edit-container-visible {   
    min-height:300px;
    border-top: 1px solid black;
}