.modal{
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.4s ease-in-out;
    
}

.modal-hidden{
    visibility: hidden;
    opacity: 0;
}

.modal-visible{ 
    visibility: visible;
    opacity: 1;
}

.modal > .modal-dialog{
    background: #fefefe;
    border: black solid 1px;
    border-radius: 5px;
    position: relative; 
    margin:20vh auto auto auto;
    z-index: 101; 
    width: 700px;
    font-size: 12pt;
    font-family: Arial, Helvetica;
}

.modal > .modal-dialog > .modal-dialog-header, .modal-dialog-footer{
    background-color:black;    
    padding:10px;
    font-size:14pt;
    color:white;
    display:flex;
}

.modal > .modal-dialog > .modal-dialog-header  .close:before {
    content: "\d7"
}

.modal > .modal-dialog > .modal-dialog-header  > div  {
    width:50%
}

.modal > .modal-dialog > .modal-dialog-header  > div:first-child  {
    text-align: left
}

.modal > .modal-dialog > .modal-dialog-header  > div:last-child  {
    text-align: right
}


.modal > .modal-dialog > .modal-dialog-body{
    background-color: #ebebeb;
    padding: 25px;
}