/*
contains global and reusable styles
*/
/*
@font-face{font-family: Archer; src: url(/assets/fonts/Archer/Archer-Medium-Pro.otf)}
@font-face{font-family: ArcherBold;src: url(/assets/fonts/Archer/Archer-Bold-Pro.otf)}
@font-face{font-family: Cavorting;src: url(/assets/fonts/Cavorting.otf)}
@font-face{font-family: Abadi;src: url(/assets/fonts/ufonts.com_abadi-mt-condensed-light.ttf)}
@font-face{font-family: AbadiBold;src: url(/assets/fonts/abadi-mt-condensed-extra-bold.ttf)}
@font-face{font-family: AbadiBold;src: url(/assets/fonts/abadi-mt-condensed-extra-bold.ttf)}
*/
@font-face{font-family: SegoeUi;src: url(/assets/fonts/segoe/segoe-ui.ttf)}
@font-face{font-family: SegoeUiBold;src: url(/assets/fonts/segoe/segoe-ui-b.ttf)}
@font-face{font-family: SegoeUiSlim;src: url(/assets/fonts/segoe/segoe-ui-sl.ttf)}

/*
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-Light.otf);font-weight:200}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-LightIt.otf);font-weight:200;font-style:italic}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-Regular.otf);font-weight:400}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-RegularIt.otf);font-weight:400;font-style:italic}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-Semibold.otf);font-weight:700}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-SemiboldIt.otf);font-weight:700;font-style:italic}
@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
*/
html{
    margin: auto;
    min-width: 1024px;  
    font-family: SegoeUi
}

body {
  margin: 0;
}

a{
    cursor: pointer;
    color:inherit
}

a:visited, a:link, a:active
{
    text-decoration: none;
    text-transform: none;
}

a:hover
{
    text-decoration: underline;
    text-transform: none;
}

.fit-to-content {
    display: inline-block
}

button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-orange{
    background-color: #ef6d3a ;
    color:white;
    font-style: italic;
    border-color: black;
}

.button-active{
    font-weight: bold;
}

.map{height: 800px}

.red-alert {
    font-weight: bold;color:red
}

.close:before {
    content: "\2716";
    font-size: 18px;
    background-color: #ef6d3a;
    color: white;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

.separator{
    height: 40px;
    width: inherit;
    background-color: #333333;
    margin:25px auto ;
}

.no-margin{
    margin:0px;
}

.no-border{
    border:none;
}


.with-transition{
    transition:all 0.5s linear
}

.no-transition{
    transition:all 0s linear
}
