/*
contains global and reusable styles
*/

@font-face{font-family: Archer; src: url(/assets/fonts/Archer/Archer-Medium-Pro.otf)}
@font-face{font-family: ArcherBold;src: url(/assets/fonts/Archer/Archer-Bold-Pro.otf)}
@font-face{font-family: Cavorting;src: url(/assets/fonts/Cavorting.otf)}
@font-face{font-family: Abadi;src: url(/assets/fonts/ufonts.com_abadi-mt-condensed-light.ttf)}
@font-face{font-family: AbadiBold;src: url(/assets/fonts/abadi-mt-condensed-extra-bold.ttf)}

@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-Light.otf);font-weight:200}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-LightIt.otf);font-weight:200;font-style:italic}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-Regular.otf);font-weight:400}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-RegularIt.otf);font-weight:400;font-style:italic}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-Semibold.otf);font-weight:700}
@font-face{font-family:ProximaNova;src:url(http://fr.agencecm.ffp.ui.s3.amazonaws.com/fonts/ProximaNovaCond-SemiboldIt.otf);font-weight:700;font-style:italic}
@import 'https://fonts.googleapis.com/css?family=Fira+Sans';

html{
    margin: auto;
    min-width: 1024px;  
}

body {
  margin: 0;
}

a{
    cursor: pointer
}

input[place-autocomplete] {
    width:200px;
    text-overflow: ellipsis
}

.fit-to-content {
    display: inline-block
}

button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.red-alert {
    font-weight: bold;color:red
}

.close:before {
    content: "\2716";
    font-size: 18px;
}

.common-arrow-top{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(-90deg);
}

.common-arrow-right{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(0deg);
}

.common-arrow-left{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
}

.common-arrow-bottom{
    display: block;
    margin: 10px auto 10px auto;
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
}

.common-location{
    background-image: url(../img/refugee/localisation.svg);
    width:100px;
    height:100px
}

.separator{
    height: 40px;
    width: inherit;
    background-color: #333333;
    margin:25px auto ;
}

.no-margin{
    margin:0px;
    display: fl
}

/* -- start of the switch part

        for using it : 
        
    <label class="switch">
  <input type="checkbox">
  <div class="slider"></div>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <div class="slider"></div>
</label><br><br>

<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <div class="slider round"></div>
</label> */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 

/* -- end of the switch part */

