.search-inline-form{
    font-family:SegoeUiBold ;
    background-color:#333333;
    color:white;
    padding:15px;
    margin:auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.search-inline-form label {
    margin: 0px;
    padding:0px
}

.search-inline-form input, .search-inline-form select, .search-inline-form button {
    margin-right:20px;
    margin-left:10px;
    font-weight: normal;
}

.search-inline-form select > option:first-child {
    font-style: italic;
}

.search-inline-form input:last-child, .search-inline-form select:last-child, .search-inline-form button {
    margin-right: 0px;
}

._results{
    width: 1000px;
    margin: 40px auto;
}

._result{
    font-family:SegoeUiBold ;
    margin:auto;
    margin-bottom: 50px;
}

._result-active {
    
}

._result-header{
    font-size: 25px ;
    margin-bottom: 10px;
}


._result-body{
        
}
._result-footer{
   
}

._result-footer button{
   margin:5px 0px
}

/* image for each result */
._image-container {
    height: 250px;
    width: 500px;
    color: white;
    border: 2px solid #333333;
    padding-top:30px;
    box-sizing:border-box;
    /*border-radius: 10px 0px 0px 10px;*/
}
._event-image-container {
    height: 250px;
    width: 100%;
    color: white;
    border: 2px solid #333333;
    border-bottom: 0px;
    padding-top:30px;
    box-sizing:border-box;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

._image-container .fit-to-content,._event-image-container > div {
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

/* info for each result */
._infos-container {
    /*border-radius: 0px 10px 10px 0px ;*/
    box-sizing: border-box;
    height: 250px;
    width: 500px;
    padding: 10px 0px;
    background-color: #333333 ;
    color: white;
    position:relative;
}

._event-infos-container {
    box-sizing: border-box;
    border-right: 2px solid #333333;
    border-left:  2px solid #333333;
    min-height: 200px;
    padding: 0px 10px;
    background-color: #f0ecd9 ;
    position: relative;
}

._event-infos-container .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
._event-infos-container a {
    color: black;
    text-decoration: underline; 
}

._infos-container > div {
    border-bottom: 1px dashed white;
    flex: 1;
    padding-bottom:10px;
    align-items: center;
}

._infos-container > div:last-child {
    border-bottom-width: 0px;
    padding-bottom:0px;
}

._infos-container.no-borders > div {
    border:none;
}

/* --- icon --*/
._infos-container > div img{
    width:40px;
    height:40px;
    margin-right: 15px;
    vertical-align: middle;
}

._infos-container > div .info-title {
    font-family: SegoeUiBold;
    font-size: 18px;
    padding-left: 30px;
}

._infos-container > div .info-text {
    padding-left: 10%;
    font-family: SegoeUiSlim;
    font-size: 16px;
}

._infos-container > div .info-text a {
    color: white;
}





/* links for download and open attachement */

._result .link, .link-big {
    position: absolute;
}

._result .link.link-top, ._result .link-big.link-top{
    top:0px;
    transform: translateY(-30%);
}

._result .link.link-bottom, ._result .link-big.link-bottom{
    bottom: 0px;
    transform: translateY(50%);
}

._result .link > img{
    height:40px;
}

._result .link-big > img{
    width:40px;
}


/* edit container (only for organisations)*/

._edit-container{
    background-color: #706E69;
    /*border-radius: 10px;*/
}

._edit-container > form fieldset {
    border-color: white;
    color: white;
    border-width: 1px 0px 0px 0px;
    padding: 0px;
    font-family: SegoeUiSlim;
    margin-bottom: 25px;
    margin: 0% 3% ;
}

._edit-container > form fieldset legend {
    padding-right: 25px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

._edit-container > form fieldset input, fieldset select, fieldset textarea{
    margin-bottom:8px;
    color: black;
}

._edit-container._edit-container-hidden {   
    height:0px;
    overflow: hidden;
}

._edit-container._edit-container-visible {   
    min-height:300px;
    border-top: 1px solid black;
}